<section class="internal-headersec wow fadeInUp">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h2 class="internal-headersech2">About Us<br /></h2>
        <p class="internal-headersecp">
          Innobox brings years of experience and loads of passion into
          developing each product to deliver business intelligence at the touch
          of a button!
        </p>
      </div>
    </div>
  </div>
</section>
<!-- internalheader-end -->
<!-- creative - start -->
<section class="creative-sec">
  <div class="container">
    <div class="row">
      <div class="col-md-6 wow fadeInLeft">
        <p class="creative-secp1">
          <span>About Us</span>
        </p>
        <p class="creative-secp2">
          Head quartered in Dallas, Texas, US and supported by a development
          center in India (Hyderabad), Innobox, designs and develops
          out-of-the-box products for wireless networking, computer vision and
          media streaming. From expertise in offering solutions, we extend
          ourselves with wide-ranging services in Linux and Android, Wireless,
          Networking, Computer Vision, Cloud and CMS.
        </p>
        <p class="creative-secp2">
          We use latest and cutting-edge, top-quality technology for Embedded,
          Open Source, Parallel Computing, Multimedia, Networking, Communication
          and Cloud solutions. We are global in our methodology and world-class
          in developing and executing the most advanced products.
        </p>
        <p class="creative-secp2">
          Founded by a group of professionals with years of experience in
          product and application development in many fortune 500 companies, the
          Innobox team brings to the table an at-the-bench perspective. Our
          Technology culture is chiefly focused on scalability, reliability,
          speed and integrity. By leveraging our powerful technology expertise
          and outstanding customer service, we have affirmed overall consumer
          satisfaction and have redefined business perception. Our enduring
          passion for quality has augmented our rapid growth.
        </p>
      </div>
      <div class="col-md-6 text-center wow fadeInRight">
        <img
          src="../../../assets/img/about-us-c.png"
          alt="creative"
          class="creativeimg"
        />
      </div>
    </div>
  </div>
</section>
<!-- creative - start -->
<!-- mission-passion-start -->
<section class="mission-sec">
  <div class="container">
    <div class="row">
      <div class="col-md-12 wow zoomIn">
        <h3 class="mission-h3">Who we are?</h3>
        <p class="mission-p">
          Headquartered in Dallas, TX Innobox designs and develops innovative
          wireless connectivity devices using advanced machine learning
          algorithms. Innobox brings technology and innovation under one roof
          with an extraordinary team of Data Scientists and Product Development
          Experts; serving Fortune 500 companies over the last decade. Innobox
          Advisory Board is backed by Techpreneurs and Thought Leaders, who are
          active members of prominent Industry bodies, with a vision to develop
          sustainable IT solutions.
        </p>
        <p class="mission-p">
          At Innobox, we leverage robust technological expertise to build
          scalable, reliable and integrated solutions while adhering to
          unmatched customer service and quality assurance. We develop next-gen
          wireless gadgets for smarter connectivity, media streaming devices,
          computer vision and smart gadgets using cutting-edge technological
          solutions. In short, Innobox redefines business operations with a
          blend of passion and innovation to showcase consistent growth.
        </p>
        <!--
                        <p class="mission-p">
                            Vivamus porta lacus neque, sed elementum arcu mollis sit amet. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Fusce placerat ligula vitae.
                        </p> -->
      </div>

      <div class="col-md-12 wow zoomIn">
        <h3 class="mission-h3">Why Choose Us?</h3>
        <p class="mission-p">
          With a large global client base spanning across various industry
          verticals such as Networking, Automation, IT & Hardware, Media &
          Entertainment, and Smart Connectivity, Innobox invests in cutting-edge
          technologies to deliver out-of-the-box, state-of-the-art, compliant
          and cost-effective products and services.
        </p>
        <ul>
          <li class="why-choose-li">
            We leverage technological expertise to ensure customer satisfaction
            and redefine business processes.
          </li>
          <li class="why-choose-li">
            We provide niche product services and consulting for next-generation
            technologies.
          </li>
          <li class="why-choose-li">
            We focus on providing scalable, agile, flexible solutions to enable
            a global roll-out.
          </li>
          <li class="why-choose-li">
            We have an enduring passion for excellence that has expedited our
            growth over the years.
          </li>
          <li class="why-choose-li">
            We offer a one-stop shop for product development services, including
            certification.
          </li>
        </ul>
        <!--
                        <p class="mission-p">
                            Vivamus porta lacus neque, sed elementum arcu mollis sit amet. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Fusce placerat ligula vitae.
                        </p> -->
      </div>
    </div>
  </div>
</section>
<!-- mission-passion-end -->
<!--why choose us start-->
<section class="creative-sec">
  <div class="container">
    <div class="row">
      <div class="col-md-6 text-center wow fadeInRight">
        <img
          src="../../../assets/img/overview.png"
          alt="creative"
          class="creativeimg"
        />
      </div>
      <div class="col-md-6 wow fadeInLeft">
        <p class="creative-secp1">
          <span>Overview</span>
        </p>
        <p class="creative-secp2">
          Innobox offerings include innovative products and services in
          cutting-edge technologies for Wireless, Networking, Computer Vision,
          Media Streaming, Cloud, Mobile, and Content Management Systems.
        </p>
        <p class="creative-secp2">
          From designing and developing innovative techniques to productization,
          Innobox is the best technology provider for the industry needs. We
          consistently strive to provide cutting-edge solutions
        </p>
        <p class="creative-secp2">
          Innobox emphasizes reusability. We embrace and contribute to open
          source software and offer supreme quality and hi-end complex system
          solutions to our customers. Innobox invests heavily in technology
          infrastructure in order to provide out-of-the-box, innovative,
          adaptable and cost effective products and services.
        </p>
        <p class="creative-secp2">
          Innobox consistently designs and develops products and services that
          surpass customer expectations and augments their business agility. We
          use an organized resilient internal process to guarantee secured,
          hi-quality solutions and on-time delivery of products.
        </p>
        <p class="creative-secp2">
          Our customers span multiple industries such as Networking, Automation,
          Communication, Entertainment, and Portable Compute.
        </p>
      </div>
    </div>
  </div>
</section>
<!--why choose us end-->
<!-- team-start -->
<section class="team-sec wow fadeInUp">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h2 class="team-sech2">Team</h2>
        <!--<p class="team-secp">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean vitae tempus odio. Nam gravida diam eros, non ultricies velit
                        varius ut.
                    </p>-->
      </div>
    </div>

    <div class="row member-row">
      <div class="col-md-12 wow zoomIn">
        <!--  -->
        <div class="media">
          <img
            src="../../../assets/img/murali2.jpg" style="max-height: 221px; max-width: 207px;"
            alt="John Doe"
            class="rounded-circle rounded-circle-padding"
          />
          <div class="media-body">
            <h4 class="member-rowh4">Murali Kakarla</h4>
            <p><span>FOUNDER & CEO</span></p>
            <p class="member-rowp">
              An entrepreneur with a vision and a goal and a technocrat with a
              go-getter attitude. That in short sums up Murali Kakarla, the
              Founder & CEO of Innobox. Murali helped shape the company's
              roadmap with a visionary zeal and used his engineering skills to
              build the base upon which the company stands today.
            </p>
            <p class="member-rowp">
              Prior to founding Innobox, Murali built, led and managed
              engineering teams in such multinational companies like AMD, NVIDIA
              and PortalPlayer for over 12 years. He helped define strategies
              and roadmaps and has proven experience of leading software
              development, hardware design and integration teams to deliver some
              of the most innovative and technically challenging products that
              have shaped and redefined the consumer electronics market.
            </p>
            <p class="member-rowp">
              Murali played crucial roles in the portable device revolution,
              leading and managing teams that helped shape this generation's
              portable music players, portable media players, smart phones,
              tablets and portable wireless hotspots. He holds a patent in
              optimal power usage for portable devices. As an adjunct-professor,
              he regularly interacts with academia at universities and colleges.
              Murali has a Masters Degree in Digital Communication from PSG
              Coimbatore.
            </p>
          </div>
        </div>
        <!--  -->
      </div>

      <div class="col-md-12 wow zoomIn ceo-margin-top">
        <!--  -->
        <div class="media">
          <img
            src="../../../assets/img/sriman2.jpg"
            alt="John Doe"
            class="rounded-circle rounded-circle-padding"
          />
          <div class="media-body">
            <h4 class="member-rowh4">Sriman Ambati</h4>
            <p><span>COO</span></p>
            <p class="member-rowp">
              An entrepreneur with multifaceted abilities and an experience of
              over 13 years, Sriman Ambati is responsible for Innobox's finance
              organization, including financial planning and analysis,
              accounting, tax and internal audit. He helped shape and direct the
              company's finance policy and helped the company find its feet with
              his business acumen and talent that includes a keen eye for
              number. Sriman also handles innobox's investor relations and legal
              compliance.
            </p>
            <p class="member-rowp">
              Prior to joining Innobox, Sriman had earlier worked with NVIDIA
              and PortalPlayer for over 10 years. He played a key role in
              developing the Digital Multimedia Manager at PortalPlayer and
              worked with some of the best teams in the multimedia space on
              cutting edge technologies that reshaped the world’s view of
              consumer electronics. Sriman has an engineering degree and Masters
              from the prestigious BITS Pilani and has completed his CFA from
              ICFAI.
            </p>
          </div>
        </div>
        <!--  -->
      </div>
    </div>
  </div>
</section>
<!-- team-end -->
<!-- empl0yee-talk-start -->
<section class="employee-sec wow fadeInUp">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h2 class="team-sech2 emp-sech2">Employees Talk</h2>
      </div>
    </div>

    <div class="row">
      <div class="col-md-12">
        <div class="employeeimgdiv">
          <!-- <div class="employeeimgele"> -->
          <div class="employeeimgeleimg"></div>
          <div class="employeeimgeletxt">
            <div
              id="carouselContent"
              class="carousel slide"
              data-ride="carousel"
            >
              <div class="carousel-inner" role="listbox">
                <div class="carousel-item active text-center p-4">
                  <p>
                    I joined Innobox 7 years back and I can proudly say, it is
                    one of the best decision I made in my career path. At
                    Innobox we get ample opportunity to work on cutting edge
                    technologies, interacting with customers and solving their
                    problems. The management is employee friendly and they keep
                    everyone motivated to go beyond their usual tasks and work.
                  </p>
                  <p>
                    At Innobox we work as a family and have a lot of fun every
                    day as we work towards achieving the organizational
                    objectives.
                  </p>
                  <p class="employeeimgeletxtp">
                    <span>Rajeev Bansal</span>
                  </p>
                </div>
                <div class="carousel-item text-center p-4">
                  <p>
                    Innobox is a place where it keeps challenging your skill set
                    to flourish, provides an environment where you can extend &
                    share your knowledge, encourages you to come up with your
                    innovative ideas and perfectly a place where it equips
                    itself with latest technological advancements & niche
                    technology to grow personally & as a team. A continuous peer
                    & team support is a cherry on top
                  </p>
                  <p class="employeeimgeletxtp">
                    <span>Madhu Krishna Sandadi</span>
                  </p>
                </div>
                <div class="carousel-item text-center p-4">
                  <p>
                    Innobox is a great place to work with a culture of caring,
                    commitment, and extraordinary generosity towards their
                    employees Company has given me the opportunity to leverage
                    my experience and apply it to real business challenges.
                  </p>
                  <p>Thanks to Innobox for believing in me and my potential.</p>
                  <p class="employeeimgeletxtp">
                    <span>Shanti Lakshmi</span>
                  </p>
                </div>
                <div class="carousel-item text-center p-4">
                  <p>
                    I Started my career in Innobox and had several challenging
                    and exciting opportunities here also learned and understood
                    a lot more about the business world through my experiences
                    and the opportunities that have been provided to me.
                  </p>
                  <p>
                    Our CEO is very cool and hands-on manager, who listens to
                    our views and implements as per the company requirements. I
                    can proudly say that I am part of the "Innobox" family.
                  </p>
                  <p class="employeeimgeletxtp">
                    <span>Ajay Pulla</span>
                  </p>
                </div>
                <div class="carousel-item text-center p-4">
                  <p>
                    It's been a great 8 years journey with Innobox. I love their
                    openness in embrasing new technologies and had a great
                    experience being part of future ahead products. It helped to
                    enhance my verticals technically and managerial.
                  </p>

                  <p class="employeeimgeletxtp">
                    <span>Naresh Nelluru</span>
                  </p>
                </div>
              </div>
              <a
                class="carousel-control-prev"
                href="#carouselContent"
                role="button"
                data-slide="prev"
              >
                <span
                  class="carousel-control-prev-icon"
                  aria-hidden="true"
                ></span>
                <span class="sr-only">Previous</span>
              </a>
              <a
                class="carousel-control-next"
                href="#carouselContent"
                role="button"
                data-slide="next"
              >
                <span
                  class="carousel-control-next-icon"
                  aria-hidden="true"
                ></span>
                <span class="sr-only">Next</span>
              </a>
            </div>
          </div>
          <!-- </div> -->
        </div>
      </div>
    </div>
  </div>
</section>
<!-- emplyee-talk-end -->
<!-- leadership - start -->
<section class="leadership-sec wow zoomIn">
  <div class="container">
    <div class="row">
      <div class="col-md-8">
        <p class="leadership-secp">
          <span>Innobox</span> brings years of experience and loads of passion
          into developing each product to deliver business intelligence at the
          touch of a button!
        </p>
      </div>

      <div class="col-md-4">
        <p class="leadership-secp1">
          <a
            routerLink="/{{ appConfig.routes.latestwork }}"
            class="leadership-secpa"
          >
            View All Projects
          </a>
        </p>
      </div>
    </div>
    <!--
            <div class="row wow zoomIn">
                <div class="col-md-12 text-center">
                    <img src="../../../assets/img/projects.jpg" class="leadership-projectimg">
                </div>
            </div>-->

    <div class="row">
      <div class="col-md-12">
        <div class="brand-box">
          <!--
                        <p class="brand-boxp wow fadeIn">
                            We work with some of the most exciting <span>brands</span> and companies around. Our clients include entrepreneurs who want to translate their ideas into a digital reality and big organisations who want to harness our flexible, startup-like mentality.
                        </p>-->

          <div class="row brand-boxlogo-row">
            <div class="col-md-3 brand-boxlogo-col">
              <img
                src="../../../assets/img/nytec1.png"
                alt="brand image"
                class="brand-img wow zoomIn"
              />
            </div>
            <div class="col-md-3 brand-boxlogo-col">
              <img
                src="../../../assets/img/intel1.png"
                alt="brand image"
                class="brand-img wow zoomIn"
              />
            </div>
            <div class="col-md-3 brand-boxlogo-col">
              <img
                src="../../../assets/img/inseego2.png"
                alt="brand image"
                class="brand-img wow zoomIn"
              />
            </div>
            <div class="col-md-3 brand-boxlogo-col">
              <img
                src="../../../assets/img/covidio2.png"
                alt="brand image"
                class="brand-img wow zoomIn"
              />
            </div>
          </div>

          <div class="row brand-boxlogo-row1">
            <div class="col-md-3 brand-boxlogo-col">
              <img
                src="../../../assets/img/novatel-wirless1.png"
                alt="brand image"
                class="brand-img wow zoomIn"
              />
            </div>
            <div class="col-md-3 brand-boxlogo-col">
              <img
                src="../../../assets/img/wallflower1.png"
                alt="brand image"
                class="brand-img wow zoomIn"
              />
            </div>
            <div class="col-md-3 brand-boxlogo-col">
              <img
                src="../../../assets/img/apco1.png"
                alt="brand image"
                class="brand-img wow zoomIn"
              />
            </div>
            <div class="col-md-3 brand-boxlogo-col">
              <img
                src="../../../assets/img/critical1.png"
                alt="brand image"
                class="brand-img wow zoomIn"
              />
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
