<!--  --><!-- internalheader-start -->
<ng-container *ngFor="let items of image; let i = index">
  <section *ngIf="items.ID === 6" [style.background-image]="'url(' + appConfig.imageUrl+items.path + ')'" class="internal-headersec wow fadeInUp">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
         
          <h2 class="internal-headersech2" [innerHTML]="items.title"></h2>
          <p class="internal-headersecp" [innerHTML]="items.text">
           
          </p>
        
        </div>
      </div>
    </div>
  </section>
  </ng-container>
<!-- internalheader-end -->
<!--  -->

<section class="wow fadeInUp">
  <div class="container">
    <div class="row">
      <div class="col-md-4 privacy-policy-4">
        <h3>Legal</h3>
        <p>
          If you have any questions regarding these terms of use, please contact
          Innobox at
          <a href="#" class="legal-website-link">info-at-innobox-dot-com.</a>
        </p>
      </div>
      <div class="col-md-8 accordion-marg">
        <!--  -->
        <div id="accordion" class="accordion">
          <div class="">
            <div
              class="card-header collapsed"
              data-toggle="collapse"
              href="#collapseZero"
            >
              <a class="card-title"> ACCEPTANCE OF TERMS </a>
            </div>
            <div
              id="collapseZero"
              class="card-body collapse"
              data-parent="#accordion"
            >
              <p>
                Welcome to the Innobox Inc web site
                <a href="#" class="legal-website-link">www.innobox.com </a> (the
                "site"). By using the site, you agree to follow the following
                terms and conditions concerning your use of the site ("terms of
                use") and our privacy policy. We may revise the terms of use and
                privacy policy at any time without prior notice. Please read the
                terms of use carefully before you access or use the site. By
                using or accessing the site or downloading any information or
                material from the site, you agree to abide by the terms and
                conditions of the site as set forth herein. If you do not agree
                to abide by these terms and conditions, please do not access or
                use the site or download any information or material from this
                website.
              </p>
              <p>
                These terms of use represent the entire understanding relating
                to the use of the site, and shall prevail over any prior or
                contemporaneous, conflicting or additional communications.
                Innobox reserves the right to revise these terms of use at any
                time without prior notice by modifying, updating, adding, and/or
                deleting the contents of the site.
              </p>
              <p>Any rights not expressly granted herein are reserved.</p>
            </div>
            <div
              class="card-header collapsed"
              data-toggle="collapse"
              href="#collapseOne"
            >
              <a class="card-title"> TERMS OF USE </a>
            </div>
            <div
              id="collapseOne"
              class="card-body collapse"
              data-parent="#accordion"
            >
              <p>
                The contents of this website are owned by Innobox Inc and
                protected by copyright and other laws. You may not modify, copy,
                reproduce, republish, upload, post, transmit, transfer, or
                distribute in any way any of the contents of this site. You may
                download content from this site solely for your personal,
                non-commercial use, provided you keep intact all copyright and
                other proprietary notices.
              </p>
            </div>
            <div
              class="card-header collapsed"
              data-toggle="collapse"
              data-parent="#accordion"
              href="#collapseTwo"
            >
              <a class="card-title"> DISCLAIMER </a>
            </div>
            <div
              id="collapseTwo"
              class="card-body collapse"
              data-parent="#accordion"
            >
              <p>
                Except where expressly provided otherwise, the site, and all
                materials provided on the site are provided on an "as is" and
                "as available" basis. Innobox expressly disclaims all warranties
                of any kind, whether express or implied, including, but not
                limited to fitness for a particular purpose and
                non-infringement. While Innobox intends the website information
                to be accurate, Innobox makes no warranty that: (a) the site
                will meet your requirements; (b) the information provided herein
                is accurate and complete; (c) the site will be available on an
                uninterrupted, timely, secure, or error-free basis; (c) the
                results that may be obtained from the use of the site will be
                accurate or reliable; or (d) the quality of any information or
                products obtained by you through the site will meet your
                expectations.
              </p>
              <p>
                Any material downloaded or otherwise obtained through this site
                is obtained at your own discretion and risk. Innobox shall have
                no responsibility for any damage to your computer, computer
                system, computer network, computer database or loss of data that
                results from the download of any materials from this website.
              </p>
              <p>
                Innobox reserves the right to make changes or updates to the
                site at any time without prior notice.
              </p>
            </div>
            <div
              class="card-header collapsed"
              data-toggle="collapse"
              data-parent="#accordion"
              href="#collapseThree"
            >
              <a class="card-title"> LIMITATION OF LIABILITY </a>
            </div>
            <div id="collapseThree" class="collapse" data-parent="#accordion">
              <div class="card-body"></div>
              <p>
                In no event shall Innobox be liable for any direct, indirect,
                punitive, incidental, special, remote or consequential damages,
                or any damages for loss of profits, revenue, data, or use,
                incurred by you or any third party arising directly or
                indirectly out of or in any way connected with the use of this
                site or for any materials and/or software obtained through the
                site, or otherwise arising out of the use of the site, whether
                based on contract, negligence, strict liability or otherwise. If
                you are dissatisfied with any portion of the site, or with any
                of these terms of use, you may discontinue using this site.
              </p>
              <p>
                You specifically agree that Innobox shall not be liable or
                responsible for any unauthorized access to or alteration of your
                transmissions or data, material or data sent or received or not
                sent or received, or any transactions entered into through this
                site. You specifically agree that Innobox is not responsible or
                liable for any threatening, obscene, defamatory, offensive or
                illegal content or conduct of any other party or any
                infringement of another's rights, including intellectual
                property rights.
              </p>
            </div>
            <div
              class="card-header collapsed"
              data-toggle="collapse"
              data-parent="#accordion"
              href="#collapseFour"
            >
              <a class="card-title"> INDEMNITY </a>
            </div>
            <div id="collapseFour" class="collapse" data-parent="#accordion">
              <div class="card-body">
                <p>
                  You agree to defend, indemnify, and hold harmless Innobox, its
                  directors, employees and agents from and against any and all
                  claims, judgment, liabilities, damages, costs, losses or
                  expenses, including reasonable attorneys' fees and costs,
                  arising directly or indirectly out of or in any way connected
                  with your access to or use of the site and with respect to any
                  action you take which is in violation of the terms and
                  conditions of these terms of use.
                </p>
              </div>
            </div>
            <div
              class="card-header collapsed"
              data-toggle="collapse"
              data-parent="#accordion"
              href="#collapseFive"
            >
              <a class="card-title"> COPYRIGHT </a>
            </div>
            <div id="collapseFive" class="collapse" data-parent="#accordion">
              <div class="card-body">
                <p>
                  All web site design, text, materials, graphics and arrangement
                  thereof are a copyright of Innobox. Copyright © 2014, Innobox.
                  All rights reserved.
                </p>
              </div>
            </div>
            <div
              class="card-header collapsed"
              data-toggle="collapse"
              data-parent="#accordion"
              href="#collapseSix"
            >
              <a class="card-title"> MISCELLANEOUS </a>
            </div>
            <div id="collapseSix" class="collapse" data-parent="#accordion">
              <div class="card-body">
                <p>
                  You acknowledge that any breach by you of the provisions of
                  the terms of use will cause irreparable harm and damage to
                  Innobox and a monetary remedy will be inadequate. Therefore,
                  in addition to any and all other legal or equitable remedies,
                  Innobox will be entitled to in addition to the provisions with
                  respect to arbitration injunctive amongst other reliefs for
                  any breach of these terms of use, before any court of
                  competent jurisdiction.
                </p>
                <p>
                  The materials or services included in or available through
                  this site may include inaccuracies or typographical errors.
                  Innobox may make periodic changes to the site/services and to
                  the materials therein.
                </p>
              </div>
            </div>
            <div
              class="card-header collapsed"
              data-toggle="collapse"
              data-parent="#accordion"
              href="#collapseSeven"
            >
              <a class="card-title"> APPLICABLE LAWS </a>
            </div>
            <div id="collapseSeven" class="collapse" data-parent="#accordion">
              <div class="card-body">
                <p>
                  Any and all disputes arising out of access or use of the site
                  or interpretation of any of the terms of use shall be referred
                  to arbitration before a sole arbitrator.
                </p>
              </div>
            </div>
            <div
              class="card-header collapsed"
              data-toggle="collapse"
              data-parent="#accordion"
              href="#collapseEight"
            >
              <a class="card-title"> CONTACT INFORMATION </a>
            </div>
            <div id="collapseEight" class="collapse" data-parent="#accordion">
              <div class="card-body">
                <p>
                  If you have any questions regarding these terms of use, please
                  contact Innobox at
                  <a href="#" class="legal-website-link"
                    >info-at-innobox-dot-com.</a
                  >
                </p>
                <p>
                  Please proceed only if you accept all the conditions
                  enumerated herein above, out of your free will and consent.
                </p>
              </div>
            </div>
          </div>
        </div>
        <!--  -->
      </div>
    </div>
  </div>
</section>
