<nav
  class="navbar navbar-expand-lg navbar-dark fixed-top wow fadeInDown"
  id="mainNav"
>
  <div class="container">
    <a
      class="navbar-brand js-scroll-trigger"
      routerLink="{{ appConfig.routes.home }}"
    >
      <img
        src="../../../assets/img/innoboxlogo.svg"
        alt="innobox logo"
        class="gbitlogo"
      />
    </a>
    <button
      class="navbar-toggler navbar-toggler-right"
      type="button"
      data-toggle="collapse"
      data-target="#navbarResponsive"
      aria-controls="navbarResponsive"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <div class="container-hamburg" onclick="myFunction(this)">
        <div class="bar1"></div>
        <div class="bar2"></div>
        <div class="bar3"></div>
      </div>
      <i class="fa fa-bars"></i>
    </button>
    <div class="collapse navbar-collapse" id="navbarResponsive">
      <!--  -->
      <ul class="ml-auto navbar-nav">
        <li class="nav-item">
          <a class="nav-link" routerLink="{{ appConfig.routes.home }}">Home</a>
        </li>
        <li class="nav-item dropdown">
          <a
            class="nav-link dropdown-toggle pointer"
            id="navbarDropdown"
            role="button"
            data-toggle="dropdown"
            aria-haspopup="true"
            aria-expanded="false"
            >SERVICES</a
          >
          <!-- id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" dropdown  dropdown-toggle  onclick="window.open('services.html')" onclick="service_page()" -->
          <div
            class="dropdown-menu mega-menu-service-bg-container"
            id="dropdown-menu-id"
            aria-labelledby="navbarDropdown"
          >
            <div class="container">
              <!--<div class="row"><div class="up-arrow"></div></div>-->
              <div class="row">
                <div
                  class="
                    col-md-4
                    mega-menu-service-bg-container-two-col
                    row-padding
                    margin-bottom-mega-menu
                  "
                >
                  <ul class="nav flex-column">
                    <li class="nav-item">
                      <a
                        class="nav-link mega-menu-service-h3"
                        routerLink="{{ appConfig.routes.mainservice }}"
                        >All Services
                      </a>
                    </li>
                    <li class="nav-item">
                      <a
                        class="nav-link"
                        routerLink="{{ appConfig.routes.networkstack }}"
                        >Network Stack</a
                      >
                    </li>
                    <li class="nav-item">
                      <a
                        class="nav-link"
                        routerLink="{{ appConfig.routes.fivegsolution }}"
                        >5G Solutions</a
                      >
                    </li>
                    <li class="nav-item">
                      <a
                        class="nav-link"
                        routerLink="{{ appConfig.routes.connectivity }}"
                        >Connectivity (Networking)</a
                      >
                    </li>
                    <li class="nav-item">
                      <a
                        class="nav-link"
                        routerLink="{{ appConfig.routes.linuxandroid }}"
                        >Linux and Android</a
                      >
                    </li>
                    <li class="nav-item">
                      <a
                        class="nav-link"
                        routerLink="{{ appConfig.routes.testingautomation }}"
                        >Testing Automation</a
                      >
                    </li>
                    <li class="nav-item">
                      <a
                        class="nav-link"
                        routerLink="{{ appConfig.routes.wirelesstechnology }}"
                        >Wireless Technologies</a
                      >
                    </li>
                  </ul>
                </div>

                <div
                  class="
                    col-md-4
                    mega-menu-service-bg-container-two-col
                    row-padding
                    margin-bottom-mega-menu
                  "
                >
                  <ul class="nav flex-column">
                    <li class="nav-item">
                      <a
                        class="nav-link"
                        routerLink="{{ appConfig.routes.wifisolution }}"
                        >Wi-Fi 6 (802.11ax) Solutions</a
                      >
                    </li>
                    <li class="nav-item">
                      <a
                        class="nav-link"
                        routerLink="{{ appConfig.routes.clouddesktop }}"
                        >Cloud & Desktop Applications</a
                      >
                    </li>
                    <li class="nav-item">
                      <a
                        class="nav-link"
                        routerLink="{{ appConfig.routes.iot }}"
                        >IOT</a
                      >
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" routerLink="{{ appConfig.routes.ai }}"
                        >Artificial Intelligence</a
                      >
                    </li>
                    <li class="nav-item">
                      <a
                        class="nav-link"
                        routerLink="{{ appConfig.routes.certification }}"
                        >Certification</a
                      >
                    </li>
                    <li class="nav-item">
                      <a
                        class="nav-link"
                        routerLink="{{ appConfig.routes.mobility }}"
                        >Mobility</a
                      >
                    </li>
                    <li class="nav-item">
                      <a
                        class="nav-link"
                        routerLink="{{ appConfig.routes.mobileapplication }}"
                        >mobile Applications</a
                      >
                    </li>
                  </ul>
                </div>

                <div
                  class="col-md-4 mega-menu-service-bg margin-bottom-mega-menu"
                >
                  <!-- <h3 class="mega-menu-service-h3">Services</h3>-->
                  <a href="about.html">
                    <img
                      src="../../../assets/img/innobox-innovation.svg"
                      alt=""
                      class="img-fluid menu_image_padding"
                    />
                  </a>
                  <p class="menu_image_p">
                    We design, develop and deliver innovative digital products
                    that transform businesses and customer experiences!
                  </p>
                  <p class="mega-menu-know-more">
                    <a href="about.html" class="mega-menu-creative-alearnmore"
                      >Know More</a
                    >
                  </p>
                </div>
              </div>
            </div>
          </div>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="{{ appConfig.routes.recentworks }}"
            >Recent Works</a
          >
        </li>
        <!-- <li class="nav-item">
          <a
            class="nav-link"
            routerLinkActive="active"
            routerLink="{{ appConfig.routes.whyus }}"
            >Why Us?</a
          >
        </li> -->
        <li class="nav-item">
          <a
            class="nav-link"
            routerLinkActive="active"
            routerLink="{{ appConfig.routes.career }}"
            >Careers</a
          >
        </li>
        <li class="nav-item">
          <a
            class="nav-link"
            routerLinkActive="active"
            routerLink="{{ appConfig.routes.contactus }}"
            >Contact Us</a
          >
        </li>
      </ul>
      <!--  -->
    </div>
  </div>
</nav>
