<!--  --><!-- internalheader-start -->
<section class="internal-headersec wow fadeInUp">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h2 class="internal-headersech2">Latest Works</h2>
        <p class="internal-headersecp">
          We create innovative digital products that impact the way people
          experience the world.
        </p>
        <p class="internal-headersecp1">
          <a
            href="#"
            class="internal-headersecp1a"
            data-toggle="modal"
            data-target="#myModalsevices"
            >Ask for Quote</a
          >
        </p>
      </div>
    </div>
  </div>
</section>
<!-- internalheader-end -->
<!-- service - details - start -->
<section class="servicedetails-sec wow fadeInUp">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <p class="servicedetails-p">
          <span>Innobox</span> brings years of experience and loads of passion
          into developing each product to deliver business intelligence at the
          touch of a button! .
        </p>
      </div>
    </div>
  </div>
</section>
<!-- service - details - end -->
<!-- services-list section - start -->
<!-- recent work - start -->
<section class="innobox-recentsec">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h2 class="innobox-recentsec-h2">Success Stories</h2>
      </div>
    </div>

    <div class="row">
      <div class="col-md-12">
        <div class="filter text-center">
          <button data-name="*" class="btn btn-link recentfilter-but active">
            All
          </button>
          <button data-name=".Networking" class="btn btn-link recentfilter-but">
            Networking & Wireless
          </button>
          <button
            data-name=".Applications"
            class="btn btn-link recentfilter-but"
          >
            Applications
          </button>
          <button data-name=".Testing" class="btn btn-link recentfilter-but">
            Testing
          </button>
          <button data-name=".IoT" class="btn btn-link recentfilter-but">
            IoT
          </button>
          <button
            data-name=".Intelligence"
            class="btn btn-link recentfilter-but"
          >
            Intelligence & Analytics
          </button>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-12">
        <div class="grid row">
          <div
            class="grid-item col-md-4 Networking Wireless Linux wow fadeInLeft"
          >
            <a
              class="portfoliodetail-a"
              routerLink="/{{ appConfig.routes.gryphion }}"
            >
              <div class="recentboxdiv">
                <!--<span class="recentboxdiv-span">WIFI</span>-->
                <h3 class="recentboxdiv-h3">
                  Secure and Intelligent Home Router
                </h3>
                <!--<p class="recentboxdiv-p1">Robert Perez    |   45 min ago</p>-->
                <img
                  src="../../../assets/img/gryphon3.jpg"
                  class="recentboxdivimg"
                />
              </div>
            </a>
          </div>

          <div
            class="
              grid-item
              col-md-8
              wow
              Networking
              Automation
              Wireless
              Certification
              fadeInRight
            "
          >
            <a
              class="portfoliodetail-a"
              routerLink="/{{ appConfig.routes.fiveg }}"
            >
              <div class="recentboxdiv recentboxdiv1">
                <img
                  src="../../../assets/img/5g3.jpg"
                  class="recentboxdivimg recentboxdivimg1"
                /><br />
                <!--<span class="recentboxdiv-span">AI</span>-->
                <h3 class="recentboxdiv-h3">5G Home Gateway</h3>
                <!--<p class="recentboxdiv-p1">Robert Perez    |   45 min ago</p>-->
              </div>
            </a>
          </div>

          <div class="grid-item col-md-8 Automation wow fadeInLeft">
            <a
              class="portfoliodetail-a"
              routerLink="/{{ appConfig.routes.lab }}"
            >
              <div class="recentboxdiv recentboxdiv">
                <img
                  src="../../../assets/img/lab3.jpg"
                  class="recentboxdivimg recentboxdivimg1"
                /><br />
                <!--<span class="recentboxdiv-span">Security</span>-->
                <h3 class="recentboxdiv-h3">Robotic Process Automation</h3>
                <!--<p class="recentboxdiv-p1">Arthur Hubbard    |  56 mint ago</p>-->
              </div>
            </a>
          </div>

          <div class="grid-item col-md-4 Intelligence wow fadeInRight">
            <a
              class="portfoliodetail-a"
              routerLink="/{{ appConfig.routes.greyn }}"
            >
              <div class="recentboxdiv">
                <!--<span class="recentboxdiv-span">Security</span>-->
                <h3 class="recentboxdiv-h3">
                  Video Traffic Analytics with Computer Vision
                </h3>
                <!--<p class="recentboxdiv-p1">Arthur Hubbard    |  56 mint ago</p>-->
                <img
                  src="../../../assets/img/greyn4.jpg"
                  class="recentboxdivimg"
                />
              </div>
            </a>
          </div>
          <!--  -->
          <div class="grid-item col-md-6 Networking wow fadeInLeft">
            <a
              class="portfoliodetail-a"
              routerLink="/{{ appConfig.routes.iot }}"
            >
              <div class="recentboxdiv recentboxdiv">
                <img
                  src="../../../assets/img/industrial-gigabit-router.jpg"
                  class="recentboxdivimg recentboxdivimg1"
                /><br />
                <!--<span class="recentboxdiv-span">Security</span>-->
                <h3 class="recentboxdiv-h3">Industrial Gigabit LTE Router</h3>
                <!--<p class="recentboxdiv-p1">Arthur Hubbard    |  56 mint ago</p>-->
              </div>
            </a>
          </div>

          <div class="grid-item col-md-6 Applications Testing wow fadeInLeft">
            <a
              class="portfoliodetail-a"
              routerLink="/{{ appConfig.routes.autotestapp }}"
            >
              <div class="recentboxdiv recentboxdiv">
                <img
                  src="../../../assets/img/automation-test-application.jpg"
                  class="recentboxdivimg recentboxdivimg1"
                /><br />
                <!--<span class="recentboxdiv-span">Security</span>-->
                <h3 class="recentboxdiv-h3">Automation Test Application</h3>
                <!--<p class="recentboxdiv-p1">Arthur Hubbard    |  56 mint ago</p>-->
              </div>
            </a>
          </div>

          <div class="grid-item col-md-6 Networking wow fadeInLeft">
            <a
              class="portfoliodetail-a"
              routerLink="/{{ appConfig.routes.fivegsolution }}"
            >
              <div class="recentboxdiv recentboxdiv">
                <img
                  src="../../../assets/img/multi-band.jpg"
                  class="recentboxdivimg recentboxdivimg1"
                /><br />
                <!--<span class="recentboxdiv-span">Security</span>-->
                <h3 class="recentboxdiv-h3">Multi-Band 5G/LTE Gateway</h3>
                <!--<p class="recentboxdiv-p1">Arthur Hubbard    |  56 mint ago</p>-->
              </div>
            </a>
          </div>

          <div class="grid-item col-md-6 Iot Applications IoT wow fadeInLeft">
            <a
              class="portfoliodetail-a"
              routerLink="/{{ appConfig.routes.securityiot }}"
            >
              <div class="recentboxdiv recentboxdiv">
                <img
                  src="../../../assets/img/security-and-surveillance.jpg"
                  class="recentboxdivimg recentboxdivimg1"
                /><br />
                <!--<span class="recentboxdiv-span">Security</span>-->
                <h3 class="recentboxdiv-h3">
                  Security and Surveillance (IIoT)
                </h3>
                <!--<p class="recentboxdiv-p1">Arthur Hubbard    |  56 mint ago</p>-->
              </div>
            </a>
          </div>

          <div class="grid-item col-md-6 Iot Applications IoT wow fadeInLeft">
            <a
              class="portfoliodetail-a"
              routerLink="/{{ appConfig.routes.iniotplat }}"
            >
              <div class="recentboxdiv recentboxdiv">
                <img
                  src="../../../assets/img/industrial-iot.jpg"
                  class="recentboxdivimg recentboxdivimg1"
                /><br />
                <!--<span class="recentboxdiv-span">Security</span>-->
                <h3 class="recentboxdiv-h3">
                  Industrial IoT (Construction ) Platform
                </h3>
                <!--<p class="recentboxdiv-p1">Arthur Hubbard    |  56 mint ago</p>-->
              </div>
            </a>
          </div>

          <div class="grid-item col-md-6 Networking wow fadeInLeft">
            <a
              class="portfoliodetail-a"
              routerLink="/{{ appConfig.routes.wirelesstechnology }}"
            >
              <div class="recentboxdiv recentboxdiv">
                <img
                  src="../../../assets/img/portable-router.jpg"
                  class="recentboxdivimg recentboxdivimg1"
                /><br />
                <!--<span class="recentboxdiv-span">Security</span>-->
                <h3 class="recentboxdiv-h3">
                  Portable Wireless Router (5G / LTE + WiFi 802.11ac)
                </h3>
                <!--<p class="recentboxdiv-p1">Arthur Hubbard    |  56 mint ago</p>-->
              </div>
            </a>
          </div>

          <!-- </div> -->

          <div class="grid-item col-md-12 Automation wow fadeInLeft">
            <a
              class="portfoliodetail-a"
              routerLink="/{{ appConfig.routes.mobileapplication }}"
            >
              <div class="recentboxdiv recentboxdiv">
                <img
                  src="../../../assets/img/1100-1-mobile.jpg"
                  class="recentboxdivimg recentboxdivimg1"
                /><br />
                <!--<span class="recentboxdiv-span">Security</span>-->
                <h3 class="recentboxdiv-h3">Mobile Apps</h3>
                <!--<p class="recentboxdiv-p1">Arthur Hubbard    |  56 mint ago</p>-->
              </div>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<app-getintouch></app-getintouch>
