<ng-container *ngFor="let items of image; let i = index">
  <section *ngIf="items.ID === 1" [style.background-image]="'url(' + appConfig.imageUrl+items.path + ')'" class="internal-headersec wow fadeInUp">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
         
          <h2 class="internal-headersech2" [innerHTML]="items.title"></h2>
          <p class="internal-headersecp" [innerHTML]="items.text">
           
          </p>
        
        </div>
      </div>
    </div>
  </section>
  </ng-container>
<!-- internalheader-end -->
<!-- service - details - start -->
<section class="servicedetails-sec wow fadeInUp">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <p class="servicedetails-p">
          <span>Innobox</span> brings years of experience and loads of passion
          into developing each product to deliver business intelligence at the
          touch of a button!
        </p>
      </div>
    </div>
  </div>
</section>
<!-- service - details - end -->
<!-- services-list section - start -->

<section>
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h4 class="carrer-main-h4">Open Positions</h4>
      </div>
      <div class="col-md-12 innobox-carrerrow1">
        <div class="row" >
          <div
            *ngFor="let item of careers; let i = index"
            class="col-md-4 wow zoomIn" style="margin-top: 25px;"
          >
     
            <img  [src]="appConfig.imageUrl + item.image" class="shake_hand" />
          
            <span>
              <h4 class="carrer-img-h4">
                {{ item.jobTitle }}
              </h4>
              <p class="carrer-img-p">Experience :{{ item.experience }}</p>

              <!-- Button to Open the Modal -->
              <button
                type="button"
                class="creative-alearnmore"
                data-toggle="modal"
                data-target="#myModal1"
                (click)="getCareerById(item.ID, item.jobTitle)"
              >
                Apply Now & Know More
              </button>
              
            </span>
          </div>
        </div>
      </div>
    </div>
  </div>
  <br>
</section>
<div class="modal" id="myModal1"  >
  <div class="modal-dialog">
    <div class="modal-content">
      <!-- Modal Header -->
      <div class="modal-header">
        <h4 *ngIf="careerbyid" class="modal-title">
          {{ careerbyid.jobTitle }}
        </h4>
        <button type="button" class="close" id="dismiss" data-dismiss="modal">
          &times;
        </button>
      </div>

      <!-- Modal body -->
      <div class="modal-body">
        <div class="row">
          <div class="col-md-5">
            <h6 *ngIf="careerbyid">
              <span class="fonts-modal">Experience :</span>
              {{ careerbyid.experience }}
            </h6>
            <h6 *ngIf="careerbyid">
              <span class="fonts-modal">Location :</span>
              {{ careerbyid.locationCountry }}
            </h6>
            <h6 *ngIf="careerbyid">
              <span class="fonts-modal">Expectations:</span>
           

            <p [innerHTML]="careerbyid.description"></p>
          </h6>
          </div>
          <div class="col-md-7">
            <div
              class="
                innobox-contactfrmcontainer innobox-contactfrmcontainer-right
              "
            >
              <form
                class="form-contact innoboxcontact-form addcountry"
                id="submitformtest"
                enctype="multipart/form-data"
                [formGroup]="applynow1Form"
                (ngSubmit)="addApplyData()"
              >
                <div class="form-group row">
                  <div class="col-md-6">
                    <label for="name1">FULL NAME</label>
                    <input
                      class="form-control"
                      name="name"
                      id="name1"
                      formControlName="fullname"
                      type="text"
                    />
                    <P
                      class="error-class contact-error-class"
                      *ngIf="
                        applynow1Form.get('fullname')?.touched &&
                        applynow1Form.get('fullname')?.errors
                      "
                    >
                      Full Name is Required
                    </P>
                  </div>
                  <div class="col-md-6">
                    <label for="email1">E-MAIL</label>
                    <input
                      class="form-control"
                      name="email"
                      id="email1"
                      formControlName="email"
                      type="email"
                    />
                    <P
                      class="error-class contact-error-class"
                      *ngIf="
                        applynow1Form.get('email')?.touched &&
                        applynow1Form.get('email')?.errors
                      "
                    >
                      Email is Required
                    </P>
                  </div>
                </div>
                <div class="form-group row">
                  <div class="col-md-6">
                    <label for="mobilenumber1">PHONE NUMBER</label>
                    <input
                      class="form-control"
                      name="mobile"
                      formControlName="mobile"
                      id="mobile1"
                      type="number"
                      min="1"
                     
                    />
                    <div *ngIf=" f1.mobile.touched &&
                    f1.mobile.errors" class="error-class contact-error-class">  
                      <div *ngIf="f1.mobile.errors.required">Mobile Number is required.</div>  
                       <div *ngIf="f1.mobile.errors.pattern">Please, Enter 10 digit Mobile Number.</div>  
                  </div>  
                   
                  </div>
                  <div class="col-md-6">
                    <label for="company1">HIGHER QUALIFICATION</label>
                    <input
                      class="form-control"
                      name="company"
                      formControlName="previousCompany"
                      id="company1"
                      type="text"
                    />
                    <P
                      class="error-class contact-error-class"
                      *ngIf="
                        applynow1Form.get('previousCompany')?.touched &&
                        applynow1Form.get('previousCompany')?.errors
                      "
                    >
                      Qulification is Required
                    </P>
                  </div>
                </div>
                <div class="form-group row">
                  <div class="col-md-12">
                    <label for="">Upload Resume</label>
                    <input
                      (change)="file1Change($event)"
                      type="file"
                      name="attach1"
                      id="file"
                    />
                  </div>
                </div>

                <div class="form-group row">
                  <div class="col-md-12">
                    <label for="message1">Message</label>
                    <textarea
                      class="form-control"
                      name="message"
                      fo
                      formControlName="message"
                      rows="5"
                      id="message1"
                    ></textarea>
                  </div>
                </div>

                <div class="row">
                  <div class="col-md-12 text-center">
                    <button
                      type="submit"
                      class="btn btn-warning innoboxsubmit"
                      id="btn"
                    >
                      SEND MESSAGE
                    </button>
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- services-list section - end -->
<!-- empl0yee-talk-start -->
<section class="employee-sec wow fadeInUp">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h2 class="team-sech2 emp-sech2">Employees Talk</h2>
      </div>
    </div>

    <div class="row">
      <div class="col-md-12">
        <div class="employeeimgdiv">
          <!-- <div class="employeeimgele"> -->
          <div class="employeeimgeleimg"></div>
          <div class="employeeimgeletxt">
            <div
              id="carouselContent"
              class="carousel slide"
              data-ride="carousel"
            >
            <div class="carousel-inner" role="listbox">
              <div class="carousel-item  text-center p-4" *ngFor="let items of emptlk; let i = index" [ngClass]= "{'active': i === 0}">
                <p  [innerHTML]="items.message " ></p>
                <p class="employeeimgeletxtp">
                  <span>{{items.name}}</span>
                </p>
              </div>
             
            </div>
              <a
                class="carousel-control-prev"
                href="#carouselContent"
                role="button"
                data-slide="prev"
              >
                <span
                  class="carousel-control-prev-icon"
                  aria-hidden="true"
                ></span>
                <span class="sr-only">Previous</span>
              </a>
              <a
                class="carousel-control-next"
                href="#carouselContent"
                role="button"
                data-slide="next"
              >
                <span
                  class="carousel-control-next-icon"
                  aria-hidden="true"
                ></span>
                <span class="sr-only">Next</span>
              </a>
            </div>
          </div>
          <!-- </div> -->
        </div>
      </div>
    </div>
  </div>
</section>
<!-- emplyee-talk-end -->
<section class="innobox-carrer-positionform">
  <div class="container">
    <div class="row">
      <!-- box form start-->
      <div class="col-md-12">
        <div class="innobox-carrer-box">
          <p class="carrer-box-p1">APPLY FOR A OPEN POSITION</p>
          <form
            class="addcountry-career"
            id="openposition"
            enctype="multipart/form-data"
            [formGroup]="applynowForm"
            (ngSubmit)="addData()"
          >
            <div class="row">
              <div class="col-md-6">
                <div class="form-group">
                  <label for="name" class="name7">NAME</label><br />
                  <input
                    type="text"
                    class="form-control"
                    id="name7"
                    formControlName="fullname"
                    placeholder="Full Name*"
                    name="name"
                  />
                  <P
                    class="error-class contact-error-class"
                    *ngIf="
                      applynowForm.get('fullname')?.touched &&
                      applynowForm.get('fullname')?.errors
                    "
                  >
                    Full Name is Required
                  </P>
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group">
                  <label for="email" class="email7">EMAIL</label><br />
                  <input
                    type="email"
                    class="form-control"
                    id="email7"
                    formControlName="email"
                    placeholder="Email*"
                    name="email"
                  />
                  <P
                    class="error-class contact-error-class"
                    *ngIf="
                      applynowForm.get('email')?.touched &&
                      applynowForm.get('email')?.errors
                    "
                  >
                    Email is Required
                  </P>
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group">
                  <label for="company" class="company7">PREVIOUS COMPANY</label
                  ><br />
                  <input
                    type="text"
                    class="form-control"
                    id="company7"
                    formControlName="previousCompany"
                    placeholder="Company*"
                    name="company"
                  />
                  <P
                    class="error-class contact-error-class"
                    *ngIf="
                      applynowForm.get('previousCompany')?.touched &&
                      applynowForm.get('previousCompany')?.errors
                    "
                  >
                    Qulification is Required
                  </P>
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group">
                  <label for="phone7" class="phone">PHONE NUMBER</label><br />
                  <input
                    type="number"
                    class="form-control"
                    id="phone7"
                    min="1"
                    formControlName="mobile"
                    placeholder="Phone number*"
                    name="mobilenumber"
                  />
              
                  <div *ngIf=" f.mobile.touched &&
                  f.mobile.errors" class="error-class contact-error-class">  
                    <div *ngIf="f.mobile.errors.required">Mobile Number is required.</div>  
                   <div *ngIf="f.mobile.errors.pattern">Please, Enter 10 digit Mobile Number.</div>  
                </div>  
                </div>
              </div>
              <div class="col-md-12">
                <div class="form-group">
                  <label for="select7" class="select">SELECT JOB</label><br />
                  <select
                    formControlName="applyingFor"
                    class="form-control"
                    id="select7"
                    name="job1"
                  >
                    <option value="">-Select Job type-</option>
                    <ng-container *ngFor="let item of careers; let i = index">
                      <option [value]="item.jobTitle">
                        {{ item.jobTitle }}
                      </option>
                    </ng-container>
                  </select>
                  <P
                    class="error-class contact-error-class"
                    *ngIf="
                      applynowForm.get('applyingFor')?.touched &&
                      applynowForm.get('applyingFor')?.errors
                    "
                  >
                    Job type is Required
                  </P>
                </div>
              </div>
              <div class="col-md-12">
                <div class="">
                  <label for="comment" class="upload">UPLOAD RESUME</label>
                </div>
              </div>

              <div class="col-md-12">
                <div class="form-group">
                  <div class="custom-file mb-3">
                    <!-- <label for="comment7" class="comment">UPLOAD RESUME</label> -->
                    <input
                      (change)="fileChange($event)"
                      type="file"
                      name="attach1"
                      id="file7"
                    />
                    <!-- <input type="file" class="custom-file-input" id="comment7" name="filename"> -->
                    <!-- <label class="custom-file-label" for="customFile7">Choose file</label> -->
                    <P
                      class="error-class contact-error-class"
                      *ngIf="
                        applynowForm.get('file')?.touched &&
                        applynowForm.get('file')?.errors
                      "
                    >
                      Resume is Required
                    </P>
                  </div>
                </div>
              </div>

              <div class="col-md-12">
                <p class="btn-aligin">
                  <button
                  type="submit"
                  class="btn btn-warning innoboxsubmit"
                  id="btn"
                >
                  SEND MESSAGE
                </button>
                </p>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- services-list section - end -->
<app-getintouch></app-getintouch>
<app-commonsection></app-commonsection>
<div class="modal formsucess_modalsucess" [ngStyle]="{'display':display}" id="formsucess">
  <div class="modal-dialog">
    <div class="modal-content">
      <!-- Modal body -->
      <div class="modal-body">
        <div class="row">
          <div class="col-md-12">
            <button type="button" class="close" (click)=closemodal()>
              &times;
            </button>
            <svg
              version="1.1"
              xmlns="http://www.w3.org/2000/svg"
              viewBox="0 0 130.2 130.2"
            >
              <circle
                class="path circle"
                fill="none"
                stroke="#73AF55"
                stroke-width="6"
                stroke-miterlimit="10"
                cx="65.1"
                cy="65.1"
                r="62.1"
              />
              <polyline
                class="path check"
                fill="none"
                stroke="#73AF55"
                stroke-width="6"
                stroke-linecap="round"
                stroke-miterlimit="10"
                points="100.2,40.2 51.5,88.8 29.8,67.5 "
              />
            </svg>
            <p>
              Thank you!<br />
              We received your information. Our expert team will get back to you
              soon.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>