<section class="internal-headersec wow fadeInUp">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h2 class="internal-headersech2">Here work is Fun</h2>
        <p class="internal-headersecp">
          We create innovative digital products that impact the way people
          experience the world.
        </p>
        <!--  <p class="internal-headersecp1">
                        <a href="#" class="internal-headersecp1a">We are Hiring</a>
                    </p>-->
      </div>
    </div>
  </div>
</section>
<!-- internalheader-end -->
<!-- service - details - start -->
<section class="servicedetails-sec wow fadeInUp">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <p class="servicedetails-p">
          <span>Innobox</span> brings years of experience and loads of passion
          into developing each product to deliver business intelligence at the
          touch of a button!
        </p>
      </div>
    </div>
  </div>
</section>
<!-- service - details - end -->
<!-- services-list section - start -->

<section>
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h4 class="carrer-main-h4">Open Positions</h4>
      </div>
      <div class="col-md-12 innobox-carrerrow1">
        <div class="row">
          <div
            *ngFor="let item of careers; let i = index"
            class="col-md-4 wow zoomIn"
          >
     
            <img  [src]="appConfig.imageUrl + item.image" class="shake_hand" />
          
            <span>
              <h4 class="carrer-img-h4">
                {{ item.jobTitle }}
              </h4>
              <p class="carrer-img-p">Experience :{{ item.experience }}</p>

              <!-- Button to Open the Modal -->
              <button
                type="button"
                class="creative-alearnmore"
                data-toggle="modal"
                data-target="#myModal1"
                (click)="getCareerById(item.ID, item.jobTitle)"
              >
                Apply Now & Know More
              </button>
            </span>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<div class="modal" id="myModal1">
  <div class="modal-dialog">
    <div class="modal-content">
      <!-- Modal Header -->
      <div class="modal-header">
        <h4 *ngIf="careerbyid" class="modal-title">
          {{ careerbyid.jobTitle }}
        </h4>
        <button type="button" class="close" data-dismiss="modal">
          &times;
        </button>
      </div>

      <!-- Modal body -->
      <div class="modal-body">
        <div class="row">
          <div class="col-md-5">
            <h6 *ngIf="careerbyid">
              <span class="fonts-modal">Experience :</span>
              {{ careerbyid.experience }}
            </h6>
            <h6 *ngIf="careerbyid">
              <span class="fonts-modal">No of Position :</span>
              {{ careerbyid.opens }}
            </h6>
            <h6 *ngIf="careerbyid">
              <span class="fonts-modal">Expectations:</span>
           

            <p [innerHTML]="careerbyid.description"></p>
          </h6>
          </div>
          <div class="col-md-7">
            <div
              class="
                innobox-contactfrmcontainer innobox-contactfrmcontainer-right
              "
            >
              <form
                class="form-contact innoboxcontact-form addcountry"
                id="submitformtest"
                enctype="multipart/form-data"
                [formGroup]="applynow1Form"
                (ngSubmit)="addApplyData()"
              >
                <div class="form-group row">
                  <div class="col-md-6">
                    <label for="name1">FULL NAME</label>
                    <input
                      class="form-control"
                      name="name"
                      id="name1"
                      formControlName="fullname"
                      type="text"
                    />
                    <P
                      class="error-class contact-error-class"
                      *ngIf="
                        applynow1Form.get('fullname')?.touched &&
                        applynow1Form.get('fullname')?.errors
                      "
                    >
                      Full Name is Required
                    </P>
                  </div>
                  <div class="col-md-6">
                    <label for="email1">E-MAIL</label>
                    <input
                      class="form-control"
                      name="email"
                      id="email1"
                      formControlName="email"
                      type="email"
                    />
                    <P
                      class="error-class contact-error-class"
                      *ngIf="
                        applynow1Form.get('email')?.touched &&
                        applynow1Form.get('email')?.errors
                      "
                    >
                      Email is Required
                    </P>
                  </div>
                </div>
                <div class="form-group row">
                  <div class="col-md-6">
                    <label for="mobilenumber1">PHONE NUMBER</label>
                    <input
                      class="form-control"
                      name="mobile"
                      formControlName="mobile"
                      id="mobile1"
                      type="text"
                    />
                    <P
                      class="error-class contact-error-class"
                      *ngIf="
                        applynow1Form.get('mobile')?.touched &&
                        applynow1Form.get('mobile')?.errors
                      "
                    >
                      Mobile is Required
                    </P>
                  </div>
                  <div class="col-md-6">
                    <label for="company1">HIGHER QUALIFICATION</label>
                    <input
                      class="form-control"
                      name="company"
                      formControlName="previousCompany"
                      id="company1"
                      type="text"
                    />
                    <P
                      class="error-class contact-error-class"
                      *ngIf="
                        applynow1Form.get('previousCompany')?.touched &&
                        applynow1Form.get('previousCompany')?.errors
                      "
                    >
                      Company is Required
                    </P>
                  </div>
                </div>
                <div class="form-group row">
                  <div class="col-md-12">
                    <label for="">Upload Resume</label>
                    <input
                      (change)="file1Change($event)"
                      type="file"
                      name="attach1"
                      id="file"
                    />
                  </div>
                </div>

                <div class="form-group row">
                  <div class="col-md-12">
                    <label for="message1">Message</label>
                    <textarea
                      class="form-control"
                      name="message"
                      fo
                      formControlName="message"
                      rows="5"
                      id="message1"
                    ></textarea>
                  </div>
                </div>

                <div class="row">
                  <div class="col-md-12 text-center">
                    <button
                      type="submit"
                      class="btn btn-warning innoboxsubmit"
                      id="btn"
                    >
                      SEND MESSAGE
                    </button>
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- services-list section - end -->
<!-- empl0yee-talk-start -->
<section class="employee-sec wow fadeInUp">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h2 class="team-sech2 emp-sech2">Employees Talk</h2>
      </div>
    </div>

    <div class="row">
      <div class="col-md-12">
        <div class="employeeimgdiv">
          <!-- <div class="employeeimgele"> -->
          <div class="employeeimgeleimg"></div>
          <div class="employeeimgeletxt">
            <div
              id="carouselContent"
              class="carousel slide"
              data-ride="carousel"
            >
              <div class="carousel-inner" role="listbox">
                <div class="carousel-item active text-center p-4">
                  <p>
                    I joined Innobox 7 years back and I can proudly say, it is
                    one of the best decision I made in my career path. At
                    Innobox we get ample opportunity to work on cutting edge
                    technologies, interacting with customers and solving their
                    problems. The management is employee friendly and they keep
                    everyone motivated to go beyond their usual tasks and work.
                  </p>
                  <p>
                    At Innobox we work as a family and have a lot of fun every
                    day as we work towards achieving the organizational
                    objectives.
                  </p>
                  <p class="employeeimgeletxtp">
                    <span>Rajeev Bansal</span>
                  </p>
                </div>
                <div class="carousel-item text-center p-4">
                  <p>
                    Innobox is a place where it keeps challenging your skill set
                    to flourish, provides an environment where you can extend &
                    share your knowledge, encourages you to come up with your
                    innovative ideas and perfectly a place where it equips
                    itself with latest technological advancements & niche
                    technology to grow personally & as a team. A continuous peer
                    & team support is a cherry on top
                  </p>
                  <p class="employeeimgeletxtp">
                    <span>Madhu Krishna Sandadi</span>
                  </p>
                </div>
                <div class="carousel-item text-center p-4">
                  <p>
                    Innobox is a great place to work with a culture of caring,
                    commitment, and extraordinary generosity towards their
                    employees Company has given me the opportunity to leverage
                    my experience and apply it to real business challenges.
                  </p>
                  <p>Thanks to Innobox for believing in me and my potential.</p>
                  <p class="employeeimgeletxtp">
                    <span>Shanti Lakshmi</span>
                  </p>
                </div>
                <div class="carousel-item text-center p-4">
                  <p>
                    I Started my career in Innobox and had several challenging
                    and exciting opportunities here also learned and understood
                    a lot more about the business world through my experiences
                    and the opportunities that have been provided to me.
                  </p>
                  <p>
                    Our CEO is very cool and hands-on manager, who listens to
                    our views and implements as per the company requirements. I
                    can proudly say that I am part of the "Innobox" family.
                  </p>
                  <p class="employeeimgeletxtp">
                    <span>Ajay Pulla</span>
                  </p>
                </div>
                <div class="carousel-item text-center p-4">
                  <p>
                    It's been a great 8 years journey with Innobox. I love their
                    openness in embrasing new technologies and had a great
                    experience being part of future ahead products. It helped to
                    enhance my verticals technically and managerial.
                  </p>

                  <p class="employeeimgeletxtp">
                    <span>Naresh Nelluru</span>
                  </p>
                </div>
              </div>
              <a
                class="carousel-control-prev"
                href="#carouselContent"
                role="button"
                data-slide="prev"
              >
                <span
                  class="carousel-control-prev-icon"
                  aria-hidden="true"
                ></span>
                <span class="sr-only">Previous</span>
              </a>
              <a
                class="carousel-control-next"
                href="#carouselContent"
                role="button"
                data-slide="next"
              >
                <span
                  class="carousel-control-next-icon"
                  aria-hidden="true"
                ></span>
                <span class="sr-only">Next</span>
              </a>
            </div>
          </div>
          <!-- </div> -->
        </div>
      </div>
    </div>
  </div>
</section>
<!-- emplyee-talk-end -->
<section class="innobox-carrer-positionform">
  <div class="container">
    <div class="row">
      <!-- box form start-->
      <div class="col-md-12">
        <div class="innobox-carrer-box">
          <p class="carrer-box-p1">APPLY FOR A OPEN POSITION</p>
          <form
            class="addcountry-career"
            id="openposition"
            enctype="multipart/form-data"
            [formGroup]="applynowForm"
            (ngSubmit)="addData()"
          >
            <div class="row">
              <div class="col-md-6">
                <div class="form-group">
                  <label for="name" class="name7">NAME</label><br />
                  <input
                    type="text"
                    class="form-control"
                    id="name7"
                    formControlName="fullname"
                    placeholder="Full Name*"
                    name="name"
                  />
                  <P
                    class="error-class contact-error-class"
                    *ngIf="
                      applynowForm.get('fullname')?.touched &&
                      applynowForm.get('fullname')?.errors
                    "
                  >
                    Full Name is Required
                  </P>
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group">
                  <label for="email" class="email7">EMAIL</label><br />
                  <input
                    type="email"
                    class="form-control"
                    id="email7"
                    formControlName="email"
                    placeholder="Email*"
                    name="email"
                  />
                  <P
                    class="error-class contact-error-class"
                    *ngIf="
                      applynowForm.get('email')?.touched &&
                      applynowForm.get('email')?.errors
                    "
                  >
                    Email is Required
                  </P>
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group">
                  <label for="company" class="company7">PREVIOUS COMPANY</label
                  ><br />
                  <input
                    type="text"
                    class="form-control"
                    id="company7"
                    formControlName="previousCompany"
                    placeholder="Company*"
                    name="company"
                  />
                  <P
                    class="error-class contact-error-class"
                    *ngIf="
                      applynowForm.get('previousCompany')?.touched &&
                      applynowForm.get('previousCompany')?.errors
                    "
                  >
                    Company is Required
                  </P>
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group">
                  <label for="phone7" class="phone">PHONE NUMBER</label><br />
                  <input
                    type="text"
                    class="form-control"
                    id="phone7"
                    formControlName="mobile"
                    placeholder="Phone number*"
                    name="mobilenumber"
                  />
                  <P
                    class="error-class contact-error-class"
                    *ngIf="
                      applynowForm.get('mobile')?.touched &&
                      applynowForm.get('mobile')?.errors
                    "
                  >
                    Mobile is Required
                  </P>
                </div>
              </div>
              <div class="col-md-12">
                <div class="form-group">
                  <label for="select7" class="select">SELECT JOB</label><br />
                  <select
                    formControlName="applyingFor"
                    class="form-control"
                    id="select7"
                    name="job1"
                  >
                    <option value="">-Select Job type-</option>
                    <ng-container *ngFor="let item of careers; let i = index">
                      <option [value]="item.jobTitle">
                        {{ item.jobTitle }}
                      </option>
                    </ng-container>
                  </select>
                  <P
                    class="error-class contact-error-class"
                    *ngIf="
                      applynowForm.get('applyingFor')?.touched &&
                      applynowForm.get('applyingFor')?.errors
                    "
                  >
                    Job type is Required
                  </P>
                </div>
              </div>
              <div class="col-md-12">
                <div class="">
                  <label for="comment" class="upload">UPLOAD RESUME</label>
                </div>
              </div>

              <div class="col-md-12">
                <div class="form-group">
                  <div class="custom-file mb-3">
                    <!-- <label for="comment7" class="comment">UPLOAD RESUME</label> -->
                    <input
                      (change)="fileChange($event)"
                      type="file"
                      name="attach1"
                      id="file7"
                    />
                    <!-- <input type="file" class="custom-file-input" id="comment7" name="filename"> -->
                    <!-- <label class="custom-file-label" for="customFile7">Choose file</label> -->
                    <P
                      class="error-class contact-error-class"
                      *ngIf="
                        applynowForm.get('file')?.touched &&
                        applynowForm.get('file')?.errors
                      "
                    >
                      Resume is Required
                    </P>
                  </div>
                </div>
              </div>

              <div class="col-md-12">
                <p class="btn-aligin">
                  <button type="submit" id="positionbtn" class="btn-apply-now">
                    APPLY NOW
                  </button>
                </p>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- services-list section - end -->
<app-getintouch></app-getintouch>
<app-commonsection></app-commonsection>
