<section class="experience1-sec">
  <div class="container">
    <div class="row">
      <div class="col-md-6 experience1-sec-col wow zoomIn">
        <a routerLink="/{{ appConfig.routes.mainservice }}">
          <div class="experience1-sec-col1div1">
            <h3 class="experience1-h3">Service</h3>
          </div>
        </a>
      </div>
      <div class="col-md-6 experience1-sec-col wow zoomIn">
        <a routerLink="/{{ appConfig.routes.successstory }}">
          <div class="experience1-sec-col1div2">
            <h3 class="experience1-h3">Success Stories</h3>
          </div>
        </a>
      </div>
    </div>
  </div>
</section>
