<!--  --><!-- internalheader-start -->
<section class="internal-headersec wow fadeInUp"  style="background-image: url('../../../assets/img/internalbg.jpg');">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h2 class="internal-headersech2">
          {{ singleData ? singleData.title : "" }}
        </h2>
        <p class="internal-headersecp">
          {{ singleData ? singleData.qtxt : "" }}
        </p>
        <app-askforqoute></app-askforqoute>
      </div>
    </div>
  </div>
</section>
<!-- internalheader-end -->
<!-- service - details - start -->
<section class="servicedetails-sec wow fadeInUp">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <p class="servicedetails-p" [innerHTML]="singleData.shdcr">
         
        </p>
      </div>
    </div>
  </div>
</section>
<!-- service - details - end -->
<!-- about - project - start -->
<section class="portfoliaabout-sec">
  <div class="container">
    <div class="row">
      <div class="col-md-6 wow fadeInLeft">
        <div class="p-50">
          <h4 class="about-project-h4">
            {{ singleData ? singleData.title : "" }}
          </h4>
  
          <p class="about-project-p1" [innerHTML]="singleData.fdcr">
       
          </p>
        </div>
      </div>
      <div class="col-md-6 wow fadeInLeft">
        <img
          [src]="singleData ? appConfig.imageUrl + singleData.image1 : ''"
          class="portfoliaabout-img"
          alt="portfoliaabout-sec"
        />
      </div>
    </div>
  </div>
</section>
<!-- about - project - end -->
<!--  -->
<section class="pd-50 wow zoomIn">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h4 class="ourprocess-h4">Our Process</h4>
      </div>
      <div class="container-fluid blue-bg">
        <div class="container">
          <!--first section-->
          <div class="row align-items-center how-it-works">
            <div class="col-2 text-center bottom">
              <!-- <div class="circle">1</div> -->
            </div>
            <div class="col-6"></div>
          </div>
          <!--path between 1-2-->
          <div class="row timeline">
            <div class="col-2">
              <!-- <div class="corner top-right"></div> -->
            </div>
            <div class="col-8">
              <hr />
            </div>
            <div class="col-2">
              <div class="corner left-bottom"></div>
            </div>
          </div>
          <!--second section-->
          <div class="row align-items-center justify-content-end how-it-works">
            <div class="col-6 text-right"></div>
            <div class="col-2 text-center full">
              <!--  <div class="circle">2</div> -->
            </div>
          </div>
          <!--path between 2-3-->
          <div class="row timeline">
            <div class="col-2">
              <div class="corner right-bottom"></div>
            </div>
            <div class="col-8">
              <hr />
            </div>
            <div class="col-2">
              <div class="corner top-left"></div>
            </div>
          </div>
          <!--third section-->
          <div class="row align-items-center how-it-works">
            <div class="col-2 text-center top">
              <!-- <div class="circle">3</div> -->
            </div>
            <div class="col-6"></div>
          </div>
          <div class="row timeline">
            <div class="col-2">
              <div class="corner top-right"></div>
            </div>
            <div class="col-8">
              <hr />
            </div>
            <div class="col-2">
              <!-- <div class="corner left-bottom"></div> -->
            </div>
          </div>
          <div class="col-12">
            <div class="col-12 process-img1">
              <p class="process-data1">Project Start</p>
              <img src="../../../assets/img/1.svg" />
            </div>

            <div class="col-12 process-img2">
              <p class="process-data2">Requirement Gathering</p>
              <img src="../../../assets/img/2.svg" />
            </div>
            <div class="col-12 process-img3">
              <p class="process-data3">Client Approval</p>
              <img src="../../../assets/img/3.svg" />
            </div>
            <div class="col-12 process-img4">
              <img src="../../../assets/img/4.svg" />
              <p class="process-data4">Design</p>
            </div>
            <div class="col-12 process-img5">
              <img src="../../../assets/img/5.png" />
              <p class="process-data5">Development</p>
            </div>
            <div class="col-12 process-img6">
              <img src="../../../assets/img/6.svg" />
              <p class="process-data6">Delivery</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!--  -->

<!--  -->
<section class="portfolio-whatwe portfolio-whatwe-gryphion wow fadeInUp">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-7">
        <h2 class="portfolio-whatwe-h2">What <br />we Achieved</h2>
      </div>
      <div class="col-md-5 portfolio-whatwecol2">
        <div class="whatwe-txt">
          <!--<h3 class="whatwe-txth3">Timely Delivery</h3>-->
          <p class="whatwe-txtp">
            {{ singleData ? singleData.whatwegot1 : "" }}
          </p>
        </div>

        <div class="whatwe-txt">
          <!--<h3 class="whatwe-txth3">Timely Delivery</h3>-->
          <p class="whatwe-txtp">
            {{ singleData ? singleData.whatwegot2 : "" }}
          </p>
        </div>

        <div class="whatwe-txt">
          <!--<h3 class="whatwe-txth3">Timely Delivery</h3>-->
          <p class="whatwe-txtp">
            {{ singleData ? singleData.whatwegot3 : "" }}
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
<!--  -->
<!-- customer-say-start -->
<section class="customer-say-sec wow fadeInUp">
  <div class="container-fluid customer-say-container">
      <div class="row">
          <div class="col-md-12">
              <h2 class="customer-say-h2">What <br>Customers Say</h2>
          </div>
      </div>
      <div class="row wow fadeInRight">
          <div class="col-md-12 customer-say-col12">
              <!-- myCarousel - start -->
                  <div id="customerCarousel" class="carousel carousel1 slide" data-ride="carousel">
                      <div class="carousel-inner carousel-inner1 row w-100 mx-auto">
              
                          <div  *ngFor="let item of tesimonials; let i = index" [ngClass]= "{'active': i === 0}"    class="carousel-item carousel-item1 col-md-4 active" >
                              <div class="card">
                                  <div class="card-body">
                                      <img  src="../../../assets/img/customercardimg.svg"  class="customer-sayimg">
                                      <p class="card-text customer-sayp1">"{{item.content}}"</p>
                                  
                                  </div>
                              </div>
                              </div>
                      
                        
                      </div>
                  </div>
              <!-- myCarousel - end  -->
          </div>
      </div>
  </div>
</section>
<!-- customer-say-end -->
<app-getintouch></app-getintouch>

<!-- The Modal -->
<div class="modal formsucess_modalsucess" id="formsucess">
  <div class="modal-dialog">
    <div class="modal-content">
      <!-- Modal body -->
      <div class="modal-body">
        <div class="row">
          <div class="col-md-12">
            <button type="button" class="close" data-dismiss="modal">
              &times;
            </button>
            <svg
              version="1.1"
              xmlns="http://www.w3.org/2000/svg"
              viewBox="0 0 130.2 130.2"
            >
              <circle
                class="path circle"
                fill="none"
                stroke="#73AF55"
                stroke-width="6"
                stroke-miterlimit="10"
                cx="65.1"
                cy="65.1"
                r="62.1"
              />
              <polyline
                class="path check"
                fill="none"
                stroke="#73AF55"
                stroke-width="6"
                stroke-linecap="round"
                stroke-miterlimit="10"
                points="100.2,40.2 51.5,88.8 29.8,67.5 "
              />
            </svg>
            <p>
              Thank you!<br />
              We received your information. Our expert team will get back to you
              soon.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- The Modal -->
<div class="modal" id="formfailure">
  <div class="modal-dialog">
    <div class="modal-content">
      <!-- Modal body -->
      <div class="modal-body">
        <div class="row">
          <div class="col-md-12">
            <button type="button" class="close" data-dismiss="modal">
              &times;
            </button>
            <p>
              Sorry!<br />
              Something went wrong
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<app-commonsection></app-commonsection>
