<ng-container *ngFor="let items of image; let i = index">
<section *ngIf="items.ID === 2" [style.background-image]="'url(' + appConfig.imageUrl+items.path + ')'" class="internal-headersec wow fadeInUp">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
  
        <h2 class="internal-headersech2" [innerHTML]="items.title"></h2>
        <p class="internal-headersecp" [innerHTML]="items.text">
         
        </p>
        <app-askforqoute></app-askforqoute>
      </div>
    </div>
  </div>
</section>
</ng-container>
<!-- internalheader-end -->
<!-- service - details - start -->
<section class="servicedetails-sec wow fadeInUp">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <!-- <p class="servicedetails-p">
          Our service offerings are way different from conventional service
          providers, we just don’t provide solution basing on requirement.
        </p> -->
      </div>
    </div>
  </div>
</section>
<!-- service - details - end -->

<!-- why - us - tabs - start -->
<section>
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <!--  -->
        <ul class="nav nav-tabs whyus-tabs">
          <li class="active">
            <a href="#tab1" data-toggle="tab">Process Details</a>
          </li>
          <li><a href="#tab2" data-toggle="tab">Association Details</a></li>
          <li><a href="#tab3" data-toggle="tab">Certification</a></li>
        </ul>

        <div class="tab-content" id="tabsdata">
          <div class="tab-pane active" id="tab1">
            <div class="panel panel-default">
              <div class="panel-heading">
                <h4 class="panel-title">
                  <a
                    data-toggle="collapse"
                    data-parent=".tab-pane"
                    href="#collapseOne"
                  >
                    Process Details
                  </a>
                </h4>
              </div>
              <div id="collapseOne" class="panel-collapse collapse in">
                <div class="panel-body">
                  <div class="row">
                    <div class="col-md-12">
                      <h3 class="inbox-why-h3">Process Details</h3>
                      <p class="inbox-why-p1">
                        Our service offerings are way different from conventional service providers, we just don’t provide solution basing on requirement alone but go beyond.  We work with our clients to realize their ideas into certified commercial products. 
                      </p>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-md-12">
                      <ul class="timeline">
                        <li class="timeline-event"  *ngFor="let items of whyus; let i = index" >
                          <ng-container *ngIf="items.category === 'Process Details'">
                          <label class="timeline-event-icon"></label>
                          <div class="timeline-event-copy">
                            <h3>{{items.title}}</h3>
                            <p class="timeline-event-p1" [innerHTML]="items.content">
                         
                            </p>
                          </div>
                        </ng-container>
                        </li>
                       
                      </ul>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>


          <div class="tab-pane" id="tab2">
            <div class="panel panel-default">
              <div class="panel-heading">
                <h4 class="panel-title">
                  <a
                    data-toggle="collapse"
                    data-parent=".tab-pane"
                    href="#collapseTwo"
                  >
                    Association Details
                  </a>
                </h4>
              </div>
              <div id="collapseTwo" class="panel-collapse collapse">
                <div class="panel-body">
                  <div class="row">
                    <div class="col-md-12">
                      <h3 class="inbox-why-h3">Association Details</h3>
                    </div>
                  </div>

                  <div class="row">
                    <ng-container  *ngFor="let items of whyus; let i = index">
                      <div class="col-md-6" *ngIf="items.category === 'Association Details'">
                      <a
                        class="card1"
                        href="https://nasscom.in/members-listing"
                        target="_blank"
                      >
                        <h3 class="inbx-h3a">{{items.title}}</h3>
                        <p class="inbx-pa small" [innerHTML]="items.content">
                          
                        </p>
                        <div class="go-corner" href="#">
                          <div class="go-arrow">→</div>
                        </div>
                      </a>
                      <!--  -->
                    </div>
                      </ng-container>
                  

                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="tab-pane" id="tab3">
            <div class="panel panel-default">
              <div class="panel-heading">
                <h4 class="panel-title">
                  <a
                    data-toggle="collapse"
                    data-parent=".tab-pane"
                    href="#collapseThree"
                  >
                    Certification
                  </a>
                </h4>
              </div>
              <div id="collapseThree" class="panel-collapse collapse">  
                <div class="panel-body" >
                  <ng-container *ngFor="let items of whyus; let i = index">
                    <div class="row" *ngIf="items.category === 'Certification'">
                      <div class="col-md-12">
                          <h3 class="inbox-why-h3">{{items.title}}</h3>
                          </div>
                          </div>
                  <div class="row" *ngIf="items.category === 'Certification'" >
  
                    <div class="col-md-8"  >
                  
                      <p class="inbox-why-p1" [innerHTML]="items.content">
                      </p>
                      
                    </div>
                    <div class="col-md-4">
                      <p class="inbox-why-p1">
                        <img  [src]="appConfig.imageUrl + items.path" class="inno-certimg" />
                      
                      </p>
                    </div>
                  </div>
                  </ng-container>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!--  -->
      </div>
    </div>
  </div>
</section>
<!-- why - us - tabs - end -->

<!-- services-list section - end -->
<app-getintouch></app-getintouch>

<app-commonsection></app-commonsection>
