<section class="internal-headersec wow fadeInUp">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h2 class="internal-headersech2">Latest Works</h2>
        <p class="internal-headersecp">
          We create innovative digital products that impact the way people
          experience the world.
        </p>
        <app-askforqoute></app-askforqoute>
      </div>
    </div>
  </div>
</section>
<!-- internalheader-end -->
<!-- service - details - start -->
<section class="servicedetails-sec wow fadeInUp">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <p class="servicedetails-p">
          <b>Innobox</b> brings years of experience and loads of passion
          into developing each product to deliver business intelligence at the
          touch of a button! .
        </p>
      </div>
    </div>
  </div>
</section>
<!-- service - details - end -->
<!-- services-list section - start -->
<!-- recent work - start -->
<section class="innobox-recentsec">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h2 class="innobox-recentsec-h2">Recent Works</h2>
      </div>
    </div>

    <div class="row">
      <div class="col-md-12">
        <div class="filter text-center">
          <button
            (click)="changeType('type0', 0)"
            id="type0"
            data-name="*"
            class="btn btn-link recentfilter-but active"
          >
            All
          </button>
          <ng-container *ngFor="let items of categories; let i = index">
            <button
              (click)="changeType('type' + (i + 1), items.ID)"
              [id]="'type' + (i + 1)"
              data-name="*"
              class="btn btn-link recentfilter-but"
            >
              {{ items.name }}
            </button>
          </ng-container>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-12">
        <div class="grid row">
          <ng-container *ngFor="let items of catData; let i = index">
            <div
              [class]="
                i % 2 === 0
                  ? 'grid-item
                col-md-4
                Networking
                Wireless
                Linux
                wow
                fadeInLeft'
                  : 'grid-item
                col-md-8
                Networking
                Wireless
                Linux
                wow
                fadeInRight'
              "
            >
              <a
                class="portfoliodetail-a"
                routerLink="/{{
                  appConfig.routes.recentworkcat + '/' + items.homename+ '/' + items.ID
                }}"
              >
                <div class="recentboxdiv">
                  <h3 class="recentboxdiv-h3">
                    {{ items.title }}
                  </h3>
                  <img [src]="items.image" class="recentboxdivimg" />
                </div>
              </a>
            </div>
          </ng-container>
        </div>
      </div>
    </div>
  </div>
</section>
<app-getintouch></app-getintouch>
<app-commonsection></app-commonsection>
