<!-- internalheader-start -->
<section class="internal-headersec wow fadeInUp">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h2 class="internal-headersech2">
          Delivering Technology-as-a-Service!
        </h2>
        <p class="internal-headersecp">
          We design, develop and deliver innovative digital products that
          transform businesses and customer experiences!
        </p>
        <p class="internal-headersecp1">
          <a href="latestworks.html" class="internal-headersecp1a"
            >Check out latest Case Study</a
          >
        </p>
      </div>
    </div>
  </div>
</section>
<!-- internalheader-end -->
<!-- service - details - start -->
<section class="servicedetails-sec wow fadeInUp">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <p class="servicedetails-p">
          <span>Innobox</span> brings years of experience and loads of passion
          into developing each product to deliver business intelligence at the
          touch of a button!
        </p>
      </div>
    </div>
  </div>
</section>
<!-- service - details - end -->
<!-- services-list section - start -->
<section class="service-list-sec">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12">
        <h3 class="service-list-h3">Services</h3>
      </div>
    </div>

    <div class="row p-10">
      <div
        class="
          col-md-7
          Connectivity-Networkstake-img
          wow
          fadeInRight
          servicefordesktop
        "
      ></div>
      <div class="col-md-5 wow fadeInLeft">
        <div class="p-25">
          <h4 class="services-network-h4">Network Stack</h4>
          <div class="serviformobile">
            <img
              src="../../../assets/img/network-stack-fnl.jpg"
              alt="innobox"
              class="mbl-serviceimg"
            />
          </div>
          <p class="services-network-p">
            We deliver advanced networking capabilities across a range of
            devices by implementing IPv6, IP-mobility, seamless authentication
            and secure-remote management.
          </p>
          <p class="know-more">
            <a
              routerLink="/{{ appConfig.routes.networkstack }}"
              class="creative-alearnmore"
              >Know More</a
            >
          </p>
        </div>
      </div>
    </div>

    <div class="row p-10">
      <!-- <div class="col-md-7 Testing-Automation-img wow fadeInRight serviformobile">

                        </div> -->
      <div class="col-md-5 wow fadeInLeft">
        <div class="p-25">
          <h4 class="services-network-h4">5G Solutions</h4>
          <div class="serviformobile">
            <img
              src="../../../assets/img/5g-fnl.jpg"
              alt="innobox"
              class="mbl-serviceimg"
            />
          </div>
          <p class="services-network-p">
            We can help you realise your cloud-to-clients solutions. Enterprise
            and Homes can now benefit from 5G
          </p>
          <p class="know-more">
            <a
              routerLink="/{{ appConfig.routes.fivegsolution }}"
              class="creative-alearnmore"
              >Know More</a
            >
          </p>
        </div>
      </div>
      <div
        class="
          col-md-7
          Testing-sgsolution-img
          wow
          fadeInRight
          servicefordesktop
        "
      ></div>
    </div>

    <div class="row p-10">
      <!-- <div class="col-md-7 Connectivity-Networking-img wow fadeInRight serviformobile">

    						</div> -->
      <div
        class="
          col-md-7
          Connectivity-Networking-img
          wow
          fadeInRight
          servicefordesktop
        "
      ></div>
      <div class="col-md-5 wow fadeInLeft">
        <div class="p-25">
          <h4 class="services-network-h4">Connectivity (Networking)</h4>
          <div class="serviformobile">
            <img
              src="../../../assets/img/networking-fnl.jpg"
              alt="innobox"
              class="mbl-serviceimg"
            />
          </div>
          <p class="services-network-p">
            We deliver advanced networking capabilities across a range of
            devices by implementing IPv6, IP-mobility, seamless authentication
            and secure-remote management.
          </p>
          <p class="know-more">
            <a
              routerLink="/{{ appConfig.routes.connectivity }}"
              class="creative-alearnmore"
              >Know More</a
            >
          </p>
        </div>
      </div>
    </div>

    <div class="row p-10">
      <!-- <div class="col-md-7 Testing-Automation-img wow fadeInRight serviformobile">

                        </div> -->
      <div class="col-md-5 wow fadeInLeft">
        <div class="p-25">
          <h4 class="services-network-h4">Wi-Fi 6 (802.11ax) Solutions</h4>
          <div class="serviformobile">
            <img
              src="../../../assets/img/wifi-fnl.jpg"
              alt="innobox"
              class="mbl-serviceimg"
            />
          </div>
          <p class="services-network-p">
            Innobox can help solve your High Density wireless device solutions
            without compromising the range and throughput
          </p>
          <p class="know-more">
            <a
              routerLink="/{{ appConfig.routes.wifisolution }}"
              class="creative-alearnmore"
              >Know More</a
            >
          </p>
        </div>
      </div>
      <div
        class="col-md-7 wifi6-sgsolution-img wow fadeInRight servicefordesktop"
      ></div>
    </div>

    <div class="row p-10">
      <!-- <div class="col-md-7 Connectivity-Networking-img wow fadeInRight serviformobile">

    						</div> -->
      <div
        class="col-md-7 cloudsapps-img wow fadeInRight servicefordesktop"
      ></div>
      <div class="col-md-5 wow fadeInLeft">
        <div class="p-25">
          <h4 class="services-network-h4">Cloud & Desktop Applications</h4>
          <div class="serviformobile">
            <img
              src="../../../assets/img/cloudapps-fnl.jpg"
              alt="innobox"
              class="mbl-serviceimg"
            />
          </div>
          <p class="services-network-p">
            Application development on desktop or cloud, facilitating clients
            and users for early detection of issues, without compromising on
            security, without worrying about scalability and to provide best
            quality products has become wide-spread practice.
          </p>
          <p class="know-more">
            <a
              routerLink="/{{ appConfig.routes.clouddesktop }}"
              class="creative-alearnmore"
              >Know More</a
            >
          </p>
        </div>
      </div>
    </div>

    <div class="row p-10">
      <!-- <div class="col-md-7 Testing-Automation-img wow fadeInRight serviformobile">

                        </div> -->
      <div class="col-md-5 wow fadeInLeft">
        <div class="p-25">
          <h4 class="services-network-h4">IoT</h4>
          <div class="serviformobile">
            <img
              src="../../../assets/img/iot-fnl.jpg"
              alt="innobox"
              class="mbl-serviceimg"
            />
          </div>
          <p class="services-network-p">
            Innobox can help solve your High Density wireless device solutions
            without compromising the range and throughput
          </p>
          <p class="know-more">
            <a
              routerLink="/{{ appConfig.routes.iot }}"
              class="creative-alearnmore"
              >Know More</a
            >
          </p>
        </div>
      </div>
      <div
        class="col-md-7 iot-sgsolution-img wow fadeInRight servicefordesktop"
      ></div>
    </div>

    <div class="row p-10">
      <div
        class="col-md-7 Linux-and-Android-img wow fadeInRight servicefordesktop"
      ></div>
      <div class="col-md-5 wow fadeInRight">
        <div class="p-25">
          <h4 class="services-network-h4">Linux and Android</h4>
          <div class="serviformobile">
            <img
              src="../../../assets/img/serviece-linux-image.jpg"
              alt="innobox"
              class="mbl-serviceimg"
            />
          </div>
          <p class="services-network-p">
            We develop agile integration of Linux & Android products based on
            open-source OS, middleware, drivers, kernel, boot-loader, frameworks
            and applications to provide customers with diversified applications.
          </p>
          <p class="know-more">
            <a
              routerLink="/{{ appConfig.routes.linuxandroid }}"
              class="creative-alearnmore"
              >Know More</a
            >
          </p>
        </div>
      </div>
    </div>

    <div class="row p-10">
      <!-- <div class="col-md-7 Testing-Automation-img wow fadeInRight serviformobile">

                </div> -->
      <div class="col-md-5 wow fadeInLeft">
        <div class="p-25">
          <h4 class="services-network-h4">Testing Automation</h4>
          <div class="serviformobile">
            <img
              src="../../../assets/img/testing-fnl.jpg"
              alt="innobox"
              class="mbl-serviceimg"
            />
          </div>
          <p class="services-network-p">
            We help determine the best testing solutions and frameworks for test
            automation, data integrity checks and other QA methodologies with
            minimal human intervention to test complicated business logic.
          </p>
          <p class="know-more">
            <a
              routerLink="/{{ appConfig.routes.testingautomation }}"
              class="creative-alearnmore"
              >Know More</a
            >
          </p>
        </div>
      </div>
      <div
        class="
          col-md-7
          Testing-Automation-img
          wow
          fadeInRight
          servicefordesktop
        "
      ></div>
    </div>

    <div class="row p-10">
      <div
        class="
          col-md-7
          wireless-technologies-img
          wow
          fadeInLeft
          servicefordesktop
        "
      ></div>
      <div class="col-md-5 wow fadeInRight">
        <div class="p-25">
          <h4 class="services-network-h4">Wireless Technologies</h4>
          <div class="serviformobile">
            <img
              src="../../../assets/img/service-wireless.jpg"
              alt="innobox"
              class="mbl-serviceimg"
            />
          </div>
          <p class="services-network-p">
            We deliver advanced ultra-high-speed wireless technologies that
            enable seamless connectivity ranging from long-range advanced
            wireless technologies (5G & LTE) to short-range wireless
            technologies (Wi-Fi & Bluetooth).
          </p>
          <p class="know-more">
            <a
              routerLink="/{{ appConfig.routes.wirelesstechnology }}"
              class="creative-alearnmore"
              >Know More</a
            >
          </p>
        </div>
      </div>
    </div>

    <div class="row p-10">
      <!-- <div class="col-md-7 Artificial-Intelligence-img wow fadeInRight serviformobile">

    					</div> -->
      <div class="col-md-5 wow fadeInRight">
        <div class="p-25">
          <h4 class="services-network-h4">Artificial Intelligence</h4>
          <div class="serviformobile">
            <img
              src="../../../assets/img/service-ai.jpg"
              alt="innobox"
              class="mbl-serviceimg"
            />
          </div>
          <p class="services-network-p">
            We employ advanced deep neural networks, machine learning
            capabilities and Artificial Intelligence to improve overall business
            productivity and develop flagship IT solutions across various
            domains.
          </p>
          <p class="know-more">
            <a
              routerLink="/{{ appConfig.routes.ai }}"
              class="creative-alearnmore"
              >Know More</a
            >
          </p>
        </div>
      </div>
      <div
        class="
          col-md-7
          Artificial-Intelligence-img
          wow
          fadeInLeft
          servicefordesktop
        "
      ></div>
    </div>

    <div class="row p-10">
      <div
        class="col-md-7 Certification-img wow fadeInRight servicefordesktop"
      ></div>
      <div class="col-md-5 wow fadeInLeft">
        <div class="p-25">
          <h4 class="services-network-h4">Certification</h4>
          <div class="serviformobile">
            <img
              src="../../../assets/img/certification-serviece-image.jpg"
              alt="innobox"
              class="mbl-serviceimg"
            />
          </div>
          <p class="services-network-p">
            We assist enterprises in meeting the requirements, and acquiring
            Wi-Fi Alliance Certification, Global Certification Forum (GCF) and
            PCS Type Certification Review Board (PTCRB) requirements for your
            cellular device.
          </p>
          <p class="know-more">
            <a
              routerLink="/{{ appConfig.routes.certification }}"
              class="creative-alearnmore"
              >Know More</a
            >
          </p>
        </div>
      </div>
    </div>

    <div class="row p-10">
      <!-- <div class="col-md-7 Mobile-application-img wow fadeInRight serviformobile">

    						</div> -->
      <div class="col-md-5 wow fadeInLeft">
        <div class="p-25">
          <h4 class="services-network-h4">Mobile Applications</h4>
          <div class="serviformobile">
            <img
              src="../../../assets/img/787-1-mobile.jpg"
              alt="innobox"
              class="mbl-serviceimg"
            />
          </div>
          <p class="services-network-p">
            We develop next-gen mobile applications that are cross-compatible,
            adaptable and scalable across all major operating systems. Our
            expertise lies across all latest and advanced application
            development platforms in the market.
          </p>
          <p class="know-more">
            <a
              routerLink="/{{ appConfig.routes.mobileapplication }}"
              class="creative-alearnmore"
              >Know More</a
            >
          </p>
        </div>
      </div>
      <div
        class="
          col-md-7
          Mobile-application-img
          wow
          fadeInRight
          servicefordesktop
        "
      ></div>
    </div>

    <div class="row p-10">
      <!-- <div class="col-md-7 Mobility-img wow fadeInRight serviformobile">

                            </div> -->
      <div
        class="col-md-7 Mobility-img wow fadeInRight servicefordesktop"
      ></div>
      <div class="col-md-5 wow fadeInLeft">
        <div class="p-25">
          <h4 class="services-network-h4">Mobility</h4>
          <p class="services-network-p">
            We develop, integrate and manage enterprise-wide mobility solutions
            using the best platforms and architectures while assuring security
            compliance and improved workplace productivity.
          </p>
          <p class="know-more">
            <a
              routerLink="/{{ appConfig.routes.mobility }}"
              class="creative-alearnmore"
              >Know More</a
            >
          </p>
        </div>
      </div>
    </div>

    <!-- <div class="col-md-7 network-image wow fadeInRight serviformobile">

    					</div>-->
  </div>
</section>
<!-- services-list section - end -->
<app-getintouch></app-getintouch>
<app-commonsection></app-commonsection>
<!-- The Modal -->

<!-- The Modal -->
<div class="modal formsucess_modalsucess" id="formsucess">
  <div class="modal-dialog">
    <div class="modal-content">
      <!-- Modal body -->
      <div class="modal-body">
        <div class="row">
          <div class="col-md-12">
            <button type="button" class="close" data-dismiss="modal">
              &times;
            </button>
            <svg
              version="1.1"
              xmlns="http://www.w3.org/2000/svg"
              viewBox="0 0 130.2 130.2"
            >
              <circle
                class="path circle"
                fill="none"
                stroke="#73AF55"
                stroke-width="6"
                stroke-miterlimit="10"
                cx="65.1"
                cy="65.1"
                r="62.1"
              />
              <polyline
                class="path check"
                fill="none"
                stroke="#73AF55"
                stroke-width="6"
                stroke-linecap="round"
                stroke-miterlimit="10"
                points="100.2,40.2 51.5,88.8 29.8,67.5 "
              />
            </svg>
            <p>
              Thank you!<br />
              We received your information. Our expert team will get back to you
              soon.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- The Modal -->
<div class="modal" id="formfailure">
  <div class="modal-dialog">
    <div class="modal-content">
      <!-- Modal body -->
      <div class="modal-body">
        <div class="row">
          <div class="col-md-12">
            <button type="button" class="close" data-dismiss="modal">
              &times;
            </button>
            <p>
              Sorry!<br />
              Something went wrong
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
