<section class="internal-headersec wow fadeInUp">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h2 class="internal-headersech2">Contact Us <br /></h2>
        <!-- <p class="internal-headersecp">
                        We create innovative digital products that impact the way people experience the world.
                    </p>
                    <p class="internal-headersecp1">
                        <a href="#" class="internal-headersecp1a">Talk to Our Connectivity Expert</a>
                    </p>-->
      </div>
    </div>
  </div>
</section>
<!-- internalheader-end -->
<!-- service - details - start -->
<section class="servicedetails-sec wow fadeInUp">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <p class="servicedetails-p">
          <span>Innobox</span> brings years of experience and loads of passion
          into developing each product to deliver business intelligence at the
          touch of a button!
        </p>
      </div>
    </div>
  </div>
</section>
<!-- service - details - end -->
<!-- contact section - start -->
<section class="innobox-contactfrm wow fadeInUp">
  <div class="container contformcon">
    <div class="row">
      <div class="col-md-9 contformcon-row wow fadeInLeft">
        <p class="innobox-formp1">
          Our Customer Service Team typically replies within 7 hours.
        </p>
        <!-- <p class="innobox-formp1">
                            You can also visit our help page for answers to <a href="#">Frequently Asked Questions.</a>
                        </p>-->
        <div class="innobox-contactfrmcontainer">
          <form
            class="form-contact innoboxcontact-form addcountry4"
            id="innoboxcontact-form"
            [formGroup]="contactForm"
            (ngSubmit)="addData()"
          >
            <div class="form-group row">
              <div class="col-md-6">
                <label for="name">NAME</label>
                <input
                  formControlName="name"
                  class="form-control"
                  name="name"
                  id="name"
                  type="text"
                />
                <P
                  class="error-class contact-error-class"
                  *ngIf="
                    contactForm.get('name')?.touched &&
                    contactForm.get('name')?.errors
                  "
                >
                  Name is Required
                </P>
              </div>
              <div class="col-md-6">
                <label for="email">E-MAIL</label>
                <input
                  class="form-control"
                  name="email"
                  formControlName="email"
                  id="email"
                  type="email"
                />
                <P
                  class="error-class contact-error-class"
                  *ngIf="
                    contactForm.get('email')?.touched &&
                    contactForm.get('email')?.errors
                  "
                >
                  Email is Required
                </P>
              </div>
            </div>
            <div class="form-group row">
              <div class="col-md-6">
                <label for="company">COMPANY</label>
                <input
                  class="form-control"
                  name="company"
                  id="company"
                  formControlName="company"
                  type="text"
                />
               
              </div>
              <div class="col-md-6">
                <label for="mobilenumber">PHONE NUMBER</label>
                <input
                  class="form-control"
                  name="mobilenumber"
                  formControlName="phone"
                  id="mobilenumber"
                  type="text"
                />
                <P
                  class="error-class contact-error-class"
                  *ngIf="
                    contactForm.get('phone')?.touched &&
                    contactForm.get('phone')?.errors
                  "
                >
                  Phone is Required
                </P>
              </div>
            </div>
            <div class="form-group row">
              <div class="col-md-12">
                <label for="messageabout">What is your message about</label>
                <select
                  formControlName="messagecat"
                  class="form-control"
                  id="messageabout"
                  name="job2"
                >
               
                  <option value="0" selected>Sales</option>
                  <option value="1">Support</option>
                </select>
                <P
                  class="error-class contact-error-class"
                  *ngIf="
                  contactForm.get('message')?.touched &&
                    contactForm.get('messagecat')?.errors
                  "
                >
                  Category is Required
                </P>
              </div>
            </div>

            <div class="form-group row">
              <div class="col-md-12">
                <label for="message">Message</label>
                <textarea
                  class="form-control"
                  name="message"
                  rows="5"
                  formControlName="message"
                  id="message"
                ></textarea>
                <P
                  class="error-class contact-error-class"
                  *ngIf="
                    contactForm.get('message')?.touched &&
                    contactForm.get('message')?.errors
                  "
                >
                  Message is Required
                </P>
              </div>
            </div>

            <div class="row">
              <div class="col-md-12 text-center">
                <button type="submit" class="btn  innoboxsubmit">
                  Send Message
                </button>
              </div>
            </div>
          </form>
        </div>
      </div>
      <div class="col-md-3 wow fadeInRight">
        <div class="innobox-addressdiv">
            <ng-container *ngFor="let item of address; let i = index">

            <h2 class="innobox-contactaddress-h2">{{item.locationCountry}} </h2>
            <h2 class="innobox-contactaddress-h2">{{ item.locationName }}</h2>
            <p class="innobox-contactaddress-p" [innerHTML]="item.locationAddress ">
               
                  <br>  <span><strong>Phone:</strong></span> <a href="{{ 'tel: ' + item.phoneNumber }}">{{item.phoneNumber}}</a>
            </p>
            </ng-container>
            <ng-container *ngFor="let item of address; let i = index">
              <h2 *ngIf="i === 0"  class="innobox-contactaddress-h2">E-mail:</h2>
              <p *ngIf="i === 0" class="innobox-contactaddress-p">
                  <a href="mailto:info@innobox.com">info@innobox.com</a>
              </p>
              </ng-container>
         </div>
    </div>
    </div>
  </div>
</section>

<!-- contact section - end -->

<app-getintouch></app-getintouch>
<app-commonsection></app-commonsection>
