<section class="internal-headersec wow fadeInUp">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h2 class="internal-headersech2">Privacy Policy</h2>
        <p class="internal-headersecp">
          This privacy policy is subject to change by Innobox.
        </p>
        <!-- <p class="internal-headersecp1">
                        <a href="#" class="internal-headersecp1a">Check out latest Case Study</a>
                    </p> -->
      </div>
    </div>
  </div>
</section>
<!-- internalheader-end -->
<!--  -->

<section class="wow fadeInUp">
  <div class="container">
    <div class="row">
      <div class="col-md-4 privacy-policy-4">
        <h3>Privacy Policy</h3>
        <p>This privacy policy is subject to change by Innobox.</p>
      </div>
      <div class="col-md-8 accordion-marg">
        <!--  -->
        <div id="accordion" class="accordion">
          <div class="">
            <div
              class="card-header collapsed"
              data-toggle="collapse"
              href="#collapseZero"
            >
              <a class="card-title"> Privacy Policy </a>
            </div>
            <div
              id="collapseZero"
              class="card-body collapse"
              data-parent="#accordion"
            >
              <p>
                Innobox is committed to respecting your online privacy and
                recognize your need for appropriate protection and management of
                any personally identifiable information ("Personal Information")
                you share with us. The purpose of the online privacy policy
                (“Policy”), as amended from time to time, is to give you an
                understanding on how we intend to collect and use the Personal
                Information you provide to us. By accessing the website and
                providing us such Personal Information, you hereby consent to
                the collection and use of such Personal Information for the
                purposes disclosed in this Policy as well as those explained
                where Innobox collects Personal Information on the Web.
              </p>
              <p>
                Personal Information means any information that may be used to
                identify an individual, including, but not limited to, a first
                and last name, a home or other physical address, an email
                address or other contact information, whether at work or at home
                and credit/debit card information.
              </p>
              <p>
                Innobox has established this Policy so that you can understand
                the care with which we intend to treat your Personal
                Information. The following site discloses our information
                gathering and dissemination practices - www.innobox.com
                ("Site").
              </p>
            </div>
            <div
              class="card-header collapsed"
              data-toggle="collapse"
              href="#collapseOne"
            >
              <a class="card-title"> Use of the Information </a>
            </div>
            <div
              id="collapseOne"
              class="card-body collapse"
              data-parent="#accordion"
            >
              <p>
                The information request forms on our site require users to give
                us contact information (like their name and email address etc).
                We may use the contact information from the information request
                form to send you information about our company. Also, if you
                choose to provide us with your Personal Information, we may
                transfer the Personal Information among ourselves, our
                affiliates, subsidiaries, agents or to our third party service
                providers, across borders, and from your country and
                jurisdiction to other countries and jurisdictions across the
                world. By providing your Personal Information to us, you give us
                your consent to send you information about our company and
                products and for transfer of your information as stated above.
              </p>
            </div>
            <div
              class="card-header collapsed"
              data-toggle="collapse"
              data-parent="#accordion"
              href="#collapseTwo"
            >
              <a class="card-title">
                Cookies and Other Tracking Technologies
              </a>
            </div>
            <div
              id="collapseTwo"
              class="card-body collapse"
              data-parent="#accordion"
            >
              <p>
                Innobox does not utilize "cookies" and does not track any
                clickstream activities. The tracking technologies may however
                record information such as Internet domain and host names;
                Internet protocol (IP) addresses; browser software and operating
                system types; and dates and times that our site is accessed. We
                may also analyze information that does not contain Personal
                Information for trends and statistics..
              </p>
            </div>
            <div
              class="card-header collapsed"
              data-toggle="collapse"
              data-parent="#accordion"
              href="#collapseThree"
            >
              <a class="card-title"> Children's Privacy </a>
            </div>
            <div id="collapseThree" class="collapse" data-parent="#accordion">
              <p>
                Innobox is not structured to attract children. Accordingly, we
                do not intend to collect Personal Information from anyone we
                know to be under 13 years of age.
              </p>
            </div>
            <div
              class="card-header collapsed"
              data-toggle="collapse"
              data-parent="#accordion"
              href="#collapseFour"
            >
              <a class="card-title"> Links to other Sites </a>
            </div>
            <div id="collapseFour" class="collapse" data-parent="#accordion">
              <p>
                This site may also contain links to other sites. Innobox is not
                responsible for the privacy practices or the content of other
                Web sites. You are advised to check the privacy policies of
                those sites before providing your personal information to them.
              </p>
            </div>
            <div
              class="card-header collapsed"
              data-toggle="collapse"
              data-parent="#accordion"
              href="#collapseFive"
            >
              <a class="card-title"> Security of Information </a>
            </div>
            <div id="collapseFive" class="collapse" data-parent="#accordion">
              <p>
                We are committed to protecting the security of your Personal
                Information. However, we may disclose Personal Information if
                required to do so by law or in the good faith belief that such
                action is necessary to (a) conform to order any law or comply
                with any legal notice, process or order served on our website;
                (b) protect and defend our rights or property; or (c) act in
                urgent circumstances to protect the personal safety of our
                employees or agents, users of our products or services, or
                members of the public.
              </p>
            </div>
            <div
              class="card-header collapsed"
              data-toggle="collapse"
              data-parent="#accordion"
              href="#collapseSix"
            >
              <a class="card-title"> Changes to this Online Privacy Policy </a>
            </div>
            <div id="collapseSix" class="collapse" data-parent="#accordion">
              <p>This privacy policy is subject to change by Innobox.</p>
            </div>
          </div>
        </div>
        <!--  -->
      </div>
    </div>
  </div>
</section>
