<!--  --><!-- internalheader-start -->
<section class="internal-headersec wow fadeInUp">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h2 class="internal-headersech2">Security and Surveillance (IIoT)</h2>
        <p class="internal-headersecp">
          Security and safety at home, industry and enterprise has always been
          very important consideration around the world.
        </p>
        <p class="internal-headersecp1">
          <a
            href="#"
            class="internal-headersecp1a"
            data-toggle="modal"
            data-target="#myModalsevices"
            >Ask for a Quote</a
          >
        </p>
      </div>
    </div>
  </div>
</section>
<!-- internalheader-end -->
<!-- service - details - start -->
<section class="servicedetails-sec wow fadeInUp">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <p class="servicedetails-p">
          At Innobox, we have developed and integrated IoT solutions which can
          determine the object count like people count both indoors and outdoors
          using mmWave radar sensors.
        </p>
      </div>
    </div>
  </div>
</section>
<!-- service - details - end -->
<!-- about - project - start -->
<section class="portfoliaabout-sec">
  <div class="container">
    <div class="row">
      <div class="col-md-6 wow fadeInLeft">
        <div class="p-50">
          <h4 class="about-project-h4">Security and Surveillance (IIoT)</h4>
          <!-- <p class="about-project-p">Challange</p> -->
          <p class="about-project-p1">
            <strong>Object counting and tracking </strong><br />
            Security and safety at home, industry and enterprise has always been
            very important consideration around the world. Advanced IoT
            solutions are offering this security and safety in the affordable
            way. With evolution of IoT, there are multiple types of sensors that
            are designed and developed by different chip manufacturers to
            address the security and safety aspects.
          </p>
        </div>
      </div>
      <div class="col-md-6 wow fadeInLeft">
        <img
          src="../../../assets/img/security-and-surveillance.jpg"
          class="portfoliaabout-img"
          alt="portfoliaabout-sec"
        />
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <div class="p-50">
          <p class="about-project-p1">
            At Innobox, we have developed and integrated IoT solutions which can
            determine the object count like people count both indoors and
            outdoors using mmWave radar sensors. Our strength in understanding
            the different types of software development kit (SDK) from multiple
            vendors has helped our clients to come up with quicker solutions.
            Our team is well versed in bringing out a fast prototype for
            demonstration of desired solution using chipsets from Texas
            Instruments, Qualcomm, Expressif etc. Our expertise in understanding
            the frameworks, interfaces of various SOC’s helped to quickly create
            customized software, drivers and adaptation of the frameworks to
            suit the needs of clients.
          </p>

          <p class="about-project-p1">
            In one of the IIoT solution, our team had integrated and developed
            firmware for both mmWave radar sensor and WIFI module. IWR6843 radar
            sensor from Texas Instruments (TI) and ESP32 WIFI from Expressif has
            been selected to realize this IoT product. We used the BSP provided
            by TI and Expressif and customized the drivers to suit the needs.
            Secured data exchange between devices has been achieved using MQTT
            messaging protocols.
          </p>

          <p class="about-project-p1">
            An application has been developed both on desktop and mobile which
            interpret the data received from IIoT and represent the same in
            understandable manner. Data transmission to cloud has been achieved
            using industry wide popular cloud computing platforms like AWS. Thus
            offering an end to end development and validation of whole secured
            IoT solution. This product helped our client to deploy this across
            multiple areas of health industry as adult care, traffic management
            and wildlife protection.
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- about - project - end -->
<!--  -->
<section class="pd-50 wow zoomIn">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h4 class="ourprocess-h4">Our Process</h4>
      </div>
      <div class="container-fluid blue-bg">
        <div class="container" style="padding-top: 200px">
          <!--first section-->
          <div class="row align-items-center how-it-works">
            <div class="col-2 text-center bottom">
              <!-- <div class="circle">1</div> -->
            </div>
            <div class="col-6"></div>
          </div>
          <!--path between 1-2-->
          <div class="row timeline">
            <div class="col-2">
              <!-- <div class="corner top-right"></div> -->
            </div>
            <div class="col-8">
              <hr />
            </div>
            <div class="col-2">
              <div class="corner left-bottom"></div>
            </div>
          </div>
          <!--second section-->
          <div class="row align-items-center justify-content-end how-it-works">
            <div class="col-6 text-right"></div>
            <div class="col-2 text-center full">
              <!--  <div class="circle">2</div> -->
            </div>
          </div>
          <!--path between 2-3-->
          <div class="row timeline">
            <div class="col-2">
              <div class="corner right-bottom"></div>
            </div>
            <div class="col-8">
              <hr />
            </div>
            <div class="col-2">
              <div class="corner top-left"></div>
            </div>
          </div>
          <!--third section-->
          <div class="row align-items-center how-it-works">
            <div class="col-2 text-center top">
              <!-- <div class="circle">3</div> -->
            </div>
            <div class="col-6"></div>
          </div>
          <div class="row timeline">
            <div class="col-2">
              <div class="corner top-right"></div>
            </div>
            <div class="col-8">
              <hr />
            </div>
            <div class="col-2">
              <!-- <div class="corner left-bottom"></div> -->
            </div>
          </div>
          <div class="col-12">
            <div class="col-12 process-img1">
              <p class="process-data1">Project Start</p>
              <img src="../../../assets/img/1.svg" />
            </div>

            <div class="col-12 process-img2">
              <p class="process-data2">Requirement Gathering</p>
              <img src="../../../assets/img/2.svg" />
            </div>
            <div class="col-12 process-img3">
              <p class="process-data3">Client Approval</p>
              <img src="../../../assets/img/3.svg" />
            </div>
            <div class="col-12 process-img4">
              <img src="../../../assets/img/4.svg" />
              <p class="process-data4">Design</p>
            </div>
            <div class="col-12 process-img5">
              <img src="../../../assets/img/5.png" />
              <p class="process-data5">Development</p>
            </div>
            <div class="col-12 process-img6">
              <img src="../../../assets/img/6.svg" />
              <p class="process-data6">Delivery</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!--  -->

<!--  -->
<section class="portfolio-whatwe portfolio-whatwe-snsiiot wow fadeInUp">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-7">
        <h2 class="portfolio-whatwe-h2">What <br />we Achieved</h2>
      </div>
      <div class="col-md-5 portfolio-whatwecol2">
        <div class="whatwe-txt">
          <!--<h3 class="whatwe-txth3">Timely Delivery</h3>-->
          <p class="whatwe-txtp">
            In one of the IIoT solution, our team had integrated and developed
            firmware for both mmWave radar sensor and WIFI module.
          </p>
        </div>

        <div class="whatwe-txt">
          <!--<h3 class="whatwe-txth3">Timely Delivery</h3>-->
          <p class="whatwe-txtp">
            Our team is well versed in bringing out a fast prototype for
            demonstration of desired solution using chipsets from Texas
            Instruments, Qualcomm, Expressif etc.
          </p>
        </div>

        <div class="whatwe-txt">
          <!--<h3 class="whatwe-txth3">Timely Delivery</h3>-->
          <p class="whatwe-txtp">
            IWR6843 radar sensor from Texas Instruments (TI) and ESP32 WIFI from
            Expressif has been selected to realize this IoT product.
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
<!--  -->
<!-- customer-say-start -->
<section class="customer-say-sec wow fadeInUp">
  <div class="container-fluid customer-say-container">
    <div class="row">
      <div class="col-md-12">
        <h2 class="customer-say-h2">What <br />Customers Say</h2>
      </div>
    </div>
    <div class="row wow fadeInRight">
      <div class="col-md-12 customer-say-col12">
        <!-- myCarousel - start -->
        <div
          id="customerCarousel"
          class="carousel carousel1 slide"
          data-ride="carousel"
        >
          <div class="carousel-inner carousel-inner1 row w-100 mx-auto">
            <div class="carousel-item carousel-item1 col-md-4 active">
              <div class="card">
                <div class="card-body">
                  <img
                    src="../../../assets/img/customercardimg.svg"
                    class="customer-sayimg"
                  />
                  <p class="card-text customer-sayp1">
                    "We partnered with Innobox in 2017 to develop a Mobile App
                    for our business. In one word, they have delivered
                    ‘outstanding’ service throughout the process. "
                  </p>
                  <!-- <p class="card-text customer-sayp2">
                                            Sean Walker / <span>OWW Studio</span>-->
                  <!-- </p> -->
                </div>
              </div>
            </div>
            <div class="carousel-item carousel-item1 col-md-4">
              <div class="card">
                <div class="card-body">
                  <img
                    src="../../../assets/img/customercardimg.svg"
                    class="customer-sayimg"
                  />
                  <p class="card-text customer-sayp1">
                    "Innobox helped us develop a Traffic Analytics Model for our
                    business. The team is quite knowledgeable and what they
                    delivered is beyond perfection. We appreciate the support. "
                  </p>
                  <!--<p class="card-text customer-sayp2">
                                                Sean Walker / <span>OWW Studio</span>-->
                  <!-- </p> -->
                </div>
              </div>
            </div>
            <div class="carousel-item carousel-item1 col-md-4">
              <div class="card">
                <div class="card-body">
                  <img
                    src="../../../assets/img/customercardimg.svg"
                    class="customer-sayimg"
                  />
                  <p class="card-text customer-sayp1">
                    "The team at Innobox has assisted us with Testing Strategies
                    for our AI-based Application. They have developed and
                    implemented the right testing methodologies that saved time,
                    money and are highly efficient. "
                  </p>
                  <!-- <p class="card-text customer-sayp2">
                                                Sean Walker / <span>OWW Studio</span>-->
                  <!-- </p> -->
                </div>
              </div>
            </div>
            <div class="carousel-item carousel-item1 col-md-4">
              <div class="card">
                <div class="card-body">
                  <img
                    src="../../../assets/img/customercardimg.svg"
                    class="customer-sayimg"
                  />
                  <p class="card-text customer-sayp1">
                    "Innobox has been our technology partner since our firm’s
                    inception – delivering end-to-end design, development,
                    implementation, testing, training and support services with
                    great efficiency."
                  </p>
                  <!--<p class="card-text customer-sayp2">
                                            Sean Walker / <span>OWW Studio</span>-->
                  <!-- </p> -->
                </div>
              </div>
            </div>
            <div class="carousel-item carousel-item1 col-md-4">
              <div class="card">
                <div class="card-body">
                  <img
                    src="../../../assets/img/customercardimg.svg"
                    class="customer-sayimg"
                  />
                  <p class="card-text customer-sayp1">
                    "Innobox has been a dependable development partner for us
                    from day one, and they have a deep level of expertise in
                    product development and testing. The leadership team at
                    Innobox has always worked to support our resource needs.
                    They are the quality and reliable partner to keep if you are
                    looking for a long term relationship to augment your
                    internal team."
                  </p>
                  <!--<p class="card-text customer-sayp2">
                                            Sean Walker / <span>OWW Studio</span>-->
                  <!-- </p> -->
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- myCarousel - end  -->
      </div>
    </div>
  </div>
</section>
<!-- customer-say-end -->
<app-getintouch></app-getintouch>
<app-commonsection></app-commonsection>
