<!--  --><!-- internalheader-start -->
<section class="internal-headersec wow fadeInUp">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h2 class="internal-headersech2">Multi-Band 5G/LTE Gateway</h2>
        <p class="internal-headersecp">
          Designed and developed complete software stack for a 5G/LTE Gateway
          with an inbuilt battery.
        </p>
        <p class="internal-headersecp1">
          <a
            href="#"
            class="internal-headersecp1a"
            data-toggle="modal"
            data-target="#myModalsevices"
            >Ask for a Quote</a
          >
        </p>
      </div>
    </div>
  </div>
</section>
<!-- internalheader-end -->
<!-- service - details - start -->
<section class="servicedetails-sec wow fadeInUp">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <p class="servicedetails-p">
          Developed software for 5G/LTE gateway router for mission-critical
          connectivity, data intensive application without compromising on
          security.
        </p>
      </div>
    </div>
  </div>
</section>
<!-- service - details - end -->
<!-- about - project - start -->
<section class="portfoliaabout-sec">
  <div class="container">
    <div class="row">
      <div class="col-md-6 wow fadeInLeft">
        <div class="p-50">
          <h4 class="about-project-h4">Multi-Band 5G/LTE Gateway</h4>
          <!-- <p class="about-project-p">Challange</p> -->
          <p class="about-project-p1">
            Designed and developed complete software stack for a 5G/LTE Gateway
            with an inbuilt battery. Our team of experts from Connectivity,
            Networking and Portable Systems helped our customers ship their
            products ahead of time.
          </p>

          <p class="about-project-p1">
            Developed software for 5G/LTE gateway router for mission-critical
            connectivity, data intensive application without compromising on
            security. Device is capable of operating in fixed and mobile
            environments. It is a compact gateway, easy to use with great
            performance. An integrated backup battery to ensure seamless
            connectivity lasting for approximately for 12 hours makes it even
            more favourite gateway available in the market. It can be used in
            creating a vehicle hotspot, temporary job site, retail locations,
            SOHO network or work from home etc..
          </p>
        </div>
      </div>
      <div class="col-md-6 wow fadeInLeft">
        <br /><br /><br /><br />
        <img
          src="../../../assets/img/multi-band.jpg"
          class="portfoliaabout-img"
          alt="portfoliaabout-sec"
        />
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <div class="p-50">
          <p class="about-project-p1">
            Innobox built this multi-band LTE gateway on the top of Sierra
            wireless EM7455 M2M module. We worked in developing networking
            features like Port Forwarding/Filtering, VPN Passthrough, IP
            Passthrough, MAC Filtering, DHCP. Our team also developed. WIFI
            features that include dual band concurrent 2.4GHz and 5 GHz along
            with providing support for 802.11 b/g/n/ac. Navigation features that
            are supported include aGPS, NMEA protocol, local UDP and remote
            streaming. A web UI is developed to access gateway device. We also
            developed FOTA technology on this gateway for easy over the air
            firmware updates.
          </p>

          <p class="about-project-p1">
            Collaborated extensively with Chipset vendor, ODMs, network
            operators, platform providers and clients to ensure every feature
            meets the global acceptable certification standards
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- about - project - end -->
<!--  -->
<section class="pd-50 wow zoomIn">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h4 class="ourprocess-h4">Our Process</h4>
      </div>
      <div class="container-fluid blue-bg">
        <div class="container" style="padding-top: 200px">
          <!--first section-->
          <div class="row align-items-center how-it-works">
            <div class="col-2 text-center bottom">
              <!-- <div class="circle">1</div> -->
            </div>
            <div class="col-6"></div>
          </div>
          <!--path between 1-2-->
          <div class="row timeline">
            <div class="col-2">
              <!-- <div class="corner top-right"></div> -->
            </div>
            <div class="col-8">
              <hr />
            </div>
            <div class="col-2">
              <div class="corner left-bottom"></div>
            </div>
          </div>
          <!--second section-->
          <div class="row align-items-center justify-content-end how-it-works">
            <div class="col-6 text-right"></div>
            <div class="col-2 text-center full">
              <!--  <div class="circle">2</div> -->
            </div>
          </div>
          <!--path between 2-3-->
          <div class="row timeline">
            <div class="col-2">
              <div class="corner right-bottom"></div>
            </div>
            <div class="col-8">
              <hr />
            </div>
            <div class="col-2">
              <div class="corner top-left"></div>
            </div>
          </div>
          <!--third section-->
          <div class="row align-items-center how-it-works">
            <div class="col-2 text-center top">
              <!-- <div class="circle">3</div> -->
            </div>
            <div class="col-6"></div>
          </div>
          <div class="row timeline">
            <div class="col-2">
              <div class="corner top-right"></div>
            </div>
            <div class="col-8">
              <hr />
            </div>
            <div class="col-2">
              <!-- <div class="corner left-bottom"></div> -->
            </div>
          </div>
          <div class="col-12">
            <div class="col-12 process-img1">
              <p class="process-data1">Project Start</p>
              <img src="../../../assets/img/1.svg" />
            </div>

            <div class="col-12 process-img2">
              <p class="process-data2">Requirement Gathering</p>
              <img src="../../../assets/img/2.svg" />
            </div>
            <div class="col-12 process-img3">
              <p class="process-data3">Client Approval</p>
              <img src="../../../assets/img/3.svg" />
            </div>
            <div class="col-12 process-img4">
              <img src="../../../assets/img/4.svg" />
              <p class="process-data4">Design</p>
            </div>
            <div class="col-12 process-img5">
              <img src="../../../assets/img/5.png" />
              <p class="process-data5">Development</p>
            </div>
            <div class="col-12 process-img6">
              <img src="../../../assets/img/6.svg" />
              <p class="process-data6">Delivery</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!--  -->

<!--  -->
<section class="portfolio-whatwe portfolio-whatwe-mblg wow fadeInUp">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-7">
        <h2 class="portfolio-whatwe-h2">What <br />we Achieved</h2>
      </div>
      <div class="col-md-5 portfolio-whatwecol2">
        <div class="whatwe-txt">
          <!--<h3 class="whatwe-txth3">Timely Delivery</h3>-->
          <p class="whatwe-txtp">
            Designed and developed complete software stack for a 5G/LTE Gateway
            with an inbuilt battery.
          </p>
        </div>

        <div class="whatwe-txt">
          <!--<h3 class="whatwe-txth3">Timely Delivery</h3>-->
          <p class="whatwe-txtp">
            Developed software for 5G/LTE gateway router for mission-critical
            connectivity, data intensive application without compromising on
            security.
          </p>
        </div>

        <div class="whatwe-txt">
          <!--<h3 class="whatwe-txth3">Timely Delivery</h3>-->
          <p class="whatwe-txtp">
            Innobox built this multi-band LTE gateway on the top of Sierra
            wireless EM7455 M2M module.
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
<!--  -->
<!-- customer-say-start -->
<section class="customer-say-sec wow fadeInUp">
  <div class="container-fluid customer-say-container">
    <div class="row">
      <div class="col-md-12">
        <h2 class="customer-say-h2">What <br />Customers Say</h2>
      </div>
    </div>
    <div class="row wow fadeInRight">
      <div class="col-md-12 customer-say-col12">
        <!-- myCarousel - start -->
        <div
          id="customerCarousel"
          class="carousel carousel1 slide"
          data-ride="carousel"
        >
          <div class="carousel-inner carousel-inner1 row w-100 mx-auto">
            <div class="carousel-item carousel-item1 col-md-4 active">
              <div class="card">
                <div class="card-body">
                  <img
                    src="../../../assets/img/customercardimg.svg"
                    class="customer-sayimg"
                  />
                  <p class="card-text customer-sayp1">
                    "We partnered with Innobox in 2017 to develop a Mobile App
                    for our business. In one word, they have delivered
                    ‘outstanding’ service throughout the process. "
                  </p>
                  <!-- <p class="card-text customer-sayp2">
                                            Sean Walker / <span>OWW Studio</span>-->
                  <!-- </p> -->
                </div>
              </div>
            </div>
            <div class="carousel-item carousel-item1 col-md-4">
              <div class="card">
                <div class="card-body">
                  <img
                    src="../../../assets/img/customercardimg.svg"
                    class="customer-sayimg"
                  />
                  <p class="card-text customer-sayp1">
                    "Innobox helped us develop a Traffic Analytics Model for our
                    business. The team is quite knowledgeable and what they
                    delivered is beyond perfection. We appreciate the support. "
                  </p>
                  <!--<p class="card-text customer-sayp2">
                                                Sean Walker / <span>OWW Studio</span>-->
                  <!-- </p> -->
                </div>
              </div>
            </div>
            <div class="carousel-item carousel-item1 col-md-4">
              <div class="card">
                <div class="card-body">
                  <img
                    src="../../../assets/img/customercardimg.svg"
                    class="customer-sayimg"
                  />
                  <p class="card-text customer-sayp1">
                    "The team at Innobox has assisted us with Testing Strategies
                    for our AI-based Application. They have developed and
                    implemented the right testing methodologies that saved time,
                    money and are highly efficient. "
                  </p>
                  <!-- <p class="card-text customer-sayp2">
                                                Sean Walker / <span>OWW Studio</span>-->
                  <!-- </p> -->
                </div>
              </div>
            </div>
            <div class="carousel-item carousel-item1 col-md-4">
              <div class="card">
                <div class="card-body">
                  <img
                    src="../../../assets/img/customercardimg.svg"
                    class="customer-sayimg"
                  />
                  <p class="card-text customer-sayp1">
                    "Innobox has been our technology partner since our firm’s
                    inception – delivering end-to-end design, development,
                    implementation, testing, training and support services with
                    great efficiency."
                  </p>
                  <!--<p class="card-text customer-sayp2">
                                            Sean Walker / <span>OWW Studio</span>-->
                  <!-- </p> -->
                </div>
              </div>
            </div>
            <div class="carousel-item carousel-item1 col-md-4">
              <div class="card">
                <div class="card-body">
                  <img
                    src="../../../assets/img/customercardimg.svg"
                    class="customer-sayimg"
                  />
                  <p class="card-text customer-sayp1">
                    "Innobox has been a dependable development partner for us
                    from day one, and they have a deep level of expertise in
                    product development and testing. The leadership team at
                    Innobox has always worked to support our resource needs.
                    They are the quality and reliable partner to keep if you are
                    looking for a long term relationship to augment your
                    internal team."
                  </p>
                  <!--<p class="card-text customer-sayp2">
                                            Sean Walker / <span>OWW Studio</span>-->
                  <!-- </p> -->
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- myCarousel - end  -->
      </div>
    </div>
  </div>
</section>
<!-- customer-say-end -->
<app-getintouch></app-getintouch>
<app-commonsection></app-commonsection>
